<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.4.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <flashpointSecurePlayer>
    <templates>
      <template name="3dgroovegxandup">
        <mode name="SOFTWARE" commandLine="3DGrooveGX\GroovePlayer.exe" />
        <modifications>
          <environmentVariables>
            <environmentVariable name="__COMPAT_LAYER" value="640X480" />
          </environmentVariables>
          <oldCPUSimulator targetRate="350" />
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>