<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.4.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <flashpointSecurePlayer>
    <templates>
      <template name="3dgroovegx">
        <mode name="SOFTWARE" commandLine="3DGrooveGX\GroovePlayer.exe" />
      </template>
    </templates>
  </flashpointSecurePlayer>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>