<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\pixelstormlauncher/pixelstormlauncher.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{6F9EDD13-B67F-4244-A329-2A18C4BA7134}" value="pixelStormLauncher" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\WEBLOADER.PSWEBLOADER.1" value="pixelStormLauncher Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\WEBLOADER.PSWEBLOADER.1\CLSID" value="{B12213CD-4189-415D-A054-7999528459F7}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\WEBLOADER.PSWEBLOADER" value="pixelStormLauncher Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\WEBLOADER.PSWEBLOADER\CLSID" value="{B12213CD-4189-415D-A054-7999528459F7}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\WEBLOADER.PSWEBLOADER\CURVER" value="WebLoader.PSWebLoader.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}" value="pixelStormLauncher Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\PROGID" value="WebLoader.PSWebLoader.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\VERSIONINDEPENDENTPROGID" value="pxgamelauncher.PSWebLoader" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\pixelstormlauncher\pixelstormlauncher.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}" value="{6F9EDD13-B67F-4244-A329-2A18C4BA7134}" valueKind="String" valueName="APPID" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\pixelstormlauncher\pixelstormlauncher.dll, 102" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\TYPELIB" value="{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B12213CD-4189-415D-A054-7999528459F7}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}\1.0" value="pixelStorm Game Launcher 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\pixelstormlauncher\pixelstormlauncher.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\pixelstormlauncher\" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B05AC49F-8256-4016-A74C-ACC8C177E559}" value="_IPSWebLoaderEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B05AC49F-8256-4016-A74C-ACC8C177E559}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B05AC49F-8256-4016-A74C-ACC8C177E559}\TYPELIB" value="{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B05AC49F-8256-4016-A74C-ACC8C177E559}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4A5BA5B3-F574-4C70-91E4-E26EC8AA424F}" value="IPSWebLoader" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4A5BA5B3-F574-4C70-91E4-E26EC8AA424F}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4A5BA5B3-F574-4C70-91E4-E26EC8AA424F}\TYPELIB" value="{8DB7E900-DE09-444F-B8E6-14CA8826ACC2}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4A5BA5B3-F574-4C70-91E4-E26EC8AA424F}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>