<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\dressshophopweb.1.0.0.7\dressshophopweb.1.0.0.7.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{9966D484-868D-48A7-8537-2FCA5979EF8C}" value="activex" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" value="{9966D484-868D-48A7-8537-2FCA5979EF8C}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDRESSSHOPHCONTROL.1" value="CPlayFirstDressShopHControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDRESSSHOPHCONTROL.1\CLSID" value="{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDRESSSHOPHCONTROL" value="CPlayFirstDressShopHControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDRESSSHOPHCONTROL\CLSID" value="{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDRESSSHOPHCONTROL\CURVER" value="activex.PlayFirstDressShopHControl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}" value="CPlayFirstDressShopHControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\PROGID" value="activex.PlayFirstDressShopHControl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\VERSIONINDEPENDENTPROGID" value="activex.PlayFirstDressShopHControl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\DressShopHopWeb.1.0.0.7\DressShopHopWeb.1.0.0.7.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\INPROCSERVER32" value="apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\DressShopHopWeb.1.0.0.7\DressShopHopWeb.1.0.0.7.dll, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}" value="{9966D484-868D-48A7-8537-2FCA5979EF8C}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\TYPELIB" value="{9966D484-868D-48A7-8537-2FCA5979EF8C}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F4EBFE42-D82A-48EB-B70E-7499FFEAFF3F}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9966D484-868D-48A7-8537-2FCA5979EF8C}\1.0" value="activex 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9966D484-868D-48A7-8537-2FCA5979EF8C}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9966D484-868D-48A7-8537-2FCA5979EF8C}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9966D484-868D-48A7-8537-2FCA5979EF8C}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\DressShopHopWeb.1.0.0.7\DressShopHopWeb.1.0.0.7.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9966D484-868D-48A7-8537-2FCA5979EF8C}\1.0\HELPDIR" value="" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2EA09E97-03B0-4484-A717-0453069A783F}" value="IPlayFirstDressShopHControl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2EA09E97-03B0-4484-A717-0453069A783F}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2EA09E97-03B0-4484-A717-0453069A783F}\TYPELIB" value="{9966D484-868D-48A7-8537-2FCA5979EF8C}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2EA09E97-03B0-4484-A717-0453069A783F}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>