<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\o2c\o2cplayer.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.O2C" value="O2CObject" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.O2C" value="application/x-o2c-object" valueKind="String" valueName="CONTENT TYPE" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.LMO" value="AcoObject" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.LMO" value="application/x-o2c-object" valueKind="String" valueName="CONTENT TYPE" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.ASO" value="O2CObject" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.ASO" value="application/x-o2c-object" valueKind="String" valueName="CONTENT TYPE" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.ACO" value="AcoObject" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.ACO" value="application/x-o2c-object" valueKind="String" valueName="CONTENT TYPE" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\REMOVE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACOOBJECT" value="3D Objekt" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACOOBJECT\DEFAULTICON" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX,0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACOOBJECT\SHELL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACOOBJECT\SHELL\OPEN" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACOOBJECT\SHELL\OPEN\COMMAND" value="rundll32 D:\Flashpoint\Flashpoint Core 10 old\Flashpoint Core 10\FPSoftware\ActiveX\o2c\O2CPlayer.OCX,DisplayObject %1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2COBJECT" value="o2c Objekt" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2COBJECT\DEFAULTICON" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX,0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2COBJECT\SHELL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2COBJECT\SHELL\OPEN" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2COBJECT\SHELL\OPEN\COMMAND" value="rundll32 D:\Flashpoint\Flashpoint Core 10 old\Flashpoint Core 10\FPSoftware\ActiveX\o2c\O2CPlayer.OCX,DisplayObject %1" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-O2C-OBJECT" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-O2C-OBJECT" value=".aco" valueKind="String" valueName="EXTENSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW.1" value="O2C-Player Version 1.x" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW.1\CLSID" value="{BF3CD111-6278-11D2-9EA3-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW.1\NOTINSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW.2" value="O2C-Player (ELECO Software GmbH)" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW.2\CLSID" value="{B1953AD6-C50E-11d3-B020-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW.2\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW" value="O2C-Player (ELECO Software GmbH)" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.3DVIEW\CURVER" value="O2CPlayer.3DView.2" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BF3CD111-6278-11D2-9EA3-00A0C9251384}" value="O2C-Player Version 1.x" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BF3CD111-6278-11D2-9EA3-00A0C9251384}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BF3CD111-6278-11D2-9EA3-00A0C9251384}\AUTOTREATAS" value="{B1953AD6-C50E-11d3-B020-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BF3CD111-6278-11D2-9EA3-00A0C9251384}\TREATAS" value="{B1953AD6-C50E-11d3-B020-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}" value="O2C-Player (ELECO Software GmbH)" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\PROGID" value="O2CPlayer.3DView.2" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\VERSIONINDEPENDENTPROGID" value="O2CPlayer.3DView" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\CONTROL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\PROGRAMMABLE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\TYPELIB" value="{BF3CD101-6278-11D2-9EA3-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\VERB" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\VERB\0" value="&amp;Edycja,0,2" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\VERB\1" value="&amp;Ładuj obiekt...,0,2" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\VERB\2" value="&amp;Animacja,0,2" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.OPTIONS.1" value="O2CPlayer Options" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.OPTIONS.1\CLSID" value="{34A6E9D5-6342-11D2-9EA4-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.OPTIONS" value="O2CPlayer Options" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.OPTIONS\CURVER" value="O2CPlayer.Options.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{34A6E9D5-6342-11D2-9EA4-00A0C9251384}" value="O2CPlayer Options" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{34A6E9D5-6342-11D2-9EA4-00A0C9251384}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{34A6E9D5-6342-11D2-9EA4-00A0C9251384}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{34A6E9D5-6342-11D2-9EA4-00A0C9251384}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.PATHS.1" value="O2CPlayer Paths" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.PATHS.1\CLSID" value="{C0BD7A84-6508-11D2-9EAF-00A0C9251384}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.PATHS" value="O2CPlayer Paths" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\O2CPLAYER.PATHS\CURVER" value="O2CPlayer.Paths.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C0BD7A84-6508-11D2-9EAF-00A0C9251384}" value="O2CPlayer Paths" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C0BD7A84-6508-11D2-9EAF-00A0C9251384}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C0BD7A84-6508-11D2-9EAF-00A0C9251384}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\o2c\O2CPlayer.OCX" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C0BD7A84-6508-11D2-9EAF-00A0C9251384}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B1953AD6-C50E-11D3-B020-00A0C9251384}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>