<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\bewitchedgameclass\bewitchedgameclass.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{790C971C-417C-4C6E-AE5A-B8F37BD3E368}\1.0" value="XBewitchedMFC ActiveX Control module" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{790C971C-417C-4C6E-AE5A-B8F37BD3E368}\1.0\FLAGS" value="2" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{790C971C-417C-4C6E-AE5A-B8F37BD3E368}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{790C971C-417C-4C6E-AE5A-B8F37BD3E368}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\BewitchedGameClass\BewitchedGameClass.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{790C971C-417C-4C6E-AE5A-B8F37BD3E368}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\BewitchedGameClass" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EA9B8215-1DB2-499B-923E-292395C0CBC0}" value="_DXBewitchedMFC" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EA9B8215-1DB2-499B-923E-292395C0CBC0}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EA9B8215-1DB2-499B-923E-292395C0CBC0}\TYPELIB" value="{790C971C-417C-4C6E-AE5A-B8F37BD3E368}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EA9B8215-1DB2-499B-923E-292395C0CBC0}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DA9F40C4-6FDD-4FED-85A3-CEF00C4A1316}" value="_DXBewitchedMFCEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DA9F40C4-6FDD-4FED-85A3-CEF00C4A1316}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DA9F40C4-6FDD-4FED-85A3-CEF00C4A1316}\TYPELIB" value="{790C971C-417C-4C6E-AE5A-B8F37BD3E368}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{DA9F40C4-6FDD-4FED-85A3-CEF00C4A1316}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26B9AB83-00D4-45E6-995E-8FEF13768298}" value="XBewitchedMFC Property Page" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26B9AB83-00D4-45E6-995E-8FEF13768298}\INPROCSERVER32" value="C:\Users\Daniel\Desktop\FLASHP~3\FLASHP~1.2\FPSOFT~1\ActiveX\BEWITC~1\BEWITC~1.OCX" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}" value="BewitchedGameClass Control" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BEWITCHEDGAMECLASS" value="BewitchedGameClass Control" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BEWITCHEDGAMECLASS\CLSID" value="{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\PROGID" value="BewitchedGameClass" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\INPROCSERVER32" value="C:\Users\Daniel\Desktop\FLASHP~3\FLASHP~1.2\FPSOFT~1\ActiveX\BEWITC~1\BEWITC~1.OCX" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\TOOLBOXBITMAP32" value="C:\Users\Daniel\Desktop\FLASHP~3\FLASHP~1.2\FPSOFT~1\ActiveX\BEWITC~1\BEWITC~1.OCX, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\CONTROL" value="" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\TYPELIB" value="{790C971C-417C-4C6E-AE5A-B8F37BD3E368}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BE319D04-18BD-4B34-AECC-EE7CB610FCA9}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>