<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.0.7.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <modifications>
            <modification name="activex\zylomgamesplayer\zylomgamesplayer.dll">
                <registryBackups binaryType="SCS_32BIT_BINARY">
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ZYLOMGAMESPLAYER.ZYLOMGAMESPLAYERCTRLZYLOM.1"
                        valueName="" value="Zylom Games Player" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ZYLOMGAMESPLAYER.ZYLOMGAMESPLAYERCTRLZYLOM.1\CLSID"
                        valueName="" value="{BFF1950D-B1B4-4ae8-B842-B2CCF06D9A1B}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ZYLOMGAMESPLAYER.ZYLOMGAMESPLAYERCTRLZYLOM"
                        valueName="" value="Zylom Games Player" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ZYLOMGAMESPLAYER.ZYLOMGAMESPLAYERCTRLZYLOM\CLSID"
                        valueName="" value="{BFF1950D-B1B4-4ae8-B842-B2CCF06D9A1B}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ZYLOMGAMESPLAYER.ZYLOMGAMESPLAYERCTRLZYLOM\CURVER"
                        valueName="" value="ZylomGamesPlayer.ZylomGamesPlayerCtrlZylom.1"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}"
                        valueName="" value="Zylom Games Player" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\PROGID"
                        valueName="" value="ZylomGamesPlayer.ZylomGamesPlayerCtrlZylom.1"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\VERSIONINDEPENDENTPROGID"
                        valueName="" value="ZylomGamesPlayer.ZylomGamesPlayerCtrlZylom"
                        valueKind="String" />
                    <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\PROGRAMMABLE"
                        valueName="" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\INPROCSERVER32"
                        valueName="" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\ActiveX\ZylomGamesPlayer\zylomgamesplayer.dll"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\INPROCSERVER32"
                        valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
                    <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\CONTROL"
                        valueName="" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\TOOLBOXBITMAP32"
                        valueName="" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\ActiveX\ZylomGamesPlayer\zylomgamesplayer.dll, 101"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\MISCSTATUS"
                        valueName="" value="0" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\MISCSTATUS\1"
                        valueName="" value="131473" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\TYPELIB"
                        valueName="" value="{3A28328F-AE4E-4d8b-8504-8AB41C0F490C}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BFF1950D-B1B4-4AE8-B842-B2CCF06D9A1B}\VERSION"
                        valueName="" value="1.0" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}\1.0"
                        valueName="" value="ZYLOMGAMESPLAYERLib" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}\1.0\FLAGS"
                        valueName="" value="0" valueKind="String" />
                    <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}\1.0\0"
                        valueName="" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}\1.0\0\WIN32"
                        valueName="" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\ActiveX\ZylomGamesPlayer\zylomgamesplayer.dll"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}\1.0\HELPDIR"
                        valueName="" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\ActiveX\ZylomGamesPlayer\"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{22776D5A-DA6D-4E16-BC84-ED164D165CC6}"
                        valueName="" value="_IZylomGamesPlayerCtrlEvents" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{22776D5A-DA6D-4E16-BC84-ED164D165CC6}\PROXYSTUBCLSID32"
                        valueName="" value="{00020420-0000-0000-C000-000000000046}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{22776D5A-DA6D-4E16-BC84-ED164D165CC6}\TYPELIB"
                        valueName="" value="{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{22776D5A-DA6D-4E16-BC84-ED164D165CC6}\TYPELIB"
                        valueName="VERSION" value="1.0" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{9BA66DEC-9B58-44DB-B22F-1A73826D73B1}"
                        valueName="" value="IZylomGamesPlayerCtrl" valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{9BA66DEC-9B58-44DB-B22F-1A73826D73B1}\PROXYSTUBCLSID32"
                        valueName="" value="{00020424-0000-0000-C000-000000000046}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{9BA66DEC-9B58-44DB-B22F-1A73826D73B1}\TYPELIB"
                        valueName="" value="{3A28328F-AE4E-4D8B-8504-8AB41C0F490C}"
                        valueKind="String" />
                    <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{9BA66DEC-9B58-44DB-B22F-1A73826D73B1}\TYPELIB"
                        valueName="VERSION" value="1.0" valueKind="String" />
                </registryBackups>
            </modification>
        </modifications>
    </flashpointSecurePlayer>
</configuration>