<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.3.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\octree/octreeview.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{29A75F03-9F33-4193-9954-86A0055B5F58}" value="OctreeViewATL" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\OCTREEVIEWATL.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\OCTREEVIEWATL.DLL" value="{29A75F03-9F33-4193-9954-86A0055B5F58}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OCTREEVIEWATL.OCTREEVIEW.1" value="OctreeView Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OCTREEVIEWATL.OCTREEVIEW.1\CLSID" value="{EF0EA0D6-88E9-11D4-9908-00400543159B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OCTREEVIEWATL.OCTREEVIEW" value="OctreeView Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OCTREEVIEWATL.OCTREEVIEW\CLSID" value="{EF0EA0D6-88E9-11D4-9908-00400543159B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OCTREEVIEWATL.OCTREEVIEW\CURVER" value="OctreeViewATL.OctreeView.1" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}" value="OctreeView Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\PROGID" value="OctreeViewATL.OctreeView.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\VERSIONINDEPENDENTPROGID" value="OctreeViewATL.OctreeView" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\Octree\OctreeView.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}" value="{29A75F03-9F33-4193-9954-86A0055B5F58}" valueKind="String" valueName="APPID" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\Octree\OctreeView.ocx, 102" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\TYPELIB" value="{FF96385A-B7B0-455E-B234-E6DF1322BA7C}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{FF96385A-B7B0-455E-B234-E6DF1322BA7C}\1.9" value="OctreeViewATL 1.9 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{FF96385A-B7B0-455E-B234-E6DF1322BA7C}\1.9\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{FF96385A-B7B0-455E-B234-E6DF1322BA7C}\1.9\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{FF96385A-B7B0-455E-B234-E6DF1322BA7C}\1.9\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\Octree\OctreeView.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{FF96385A-B7B0-455E-B234-E6DF1322BA7C}\1.9\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\Octree" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4D0A12BE-FB93-428D-856F-39481CEAD4C8}" value="IOctreeView" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4D0A12BE-FB93-428D-856F-39481CEAD4C8}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4D0A12BE-FB93-428D-856F-39481CEAD4C8}\TYPELIB" value="{FF96385A-B7B0-455E-B234-E6DF1322BA7C}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4D0A12BE-FB93-428D-856F-39481CEAD4C8}\TYPELIB" value="1.9" valueKind="String" valueName="VERSION" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{EF0EA0D6-88E9-11D4-9908-00400543159B}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>