<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
            <template name="activex\osakitpro/osakitpro.ocx">
                <modifications>
                    <registryStates binaryType="SCS_32BIT_BINARY">
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{89C04549-4A55-40D9-BDCD-1ACBA9589480}\18.0"
                            value="Ancientsoft's OSAKitPro v3.1" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{89C04549-4A55-40D9-BDCD-1ACBA9589480}\18.0\FLAGS"
                            value="2" valueKind="String" valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{89C04549-4A55-40D9-BDCD-1ACBA9589480}\18.0\0"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{89C04549-4A55-40D9-BDCD-1ACBA9589480}\18.0\0\WIN32"
                            value="%FP_STARTUP_PATH%\ActiveX\OSAKitPro\OSAKitPro.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{89C04549-4A55-40D9-BDCD-1ACBA9589480}\18.0\HELPDIR"
                            value="%FP_STARTUP_PATH%\ActiveX\OSAKitPro" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{93BEF56F-81F3-4702-A721-FC15BBE064ED}"
                            value="OSAKit" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{93BEF56F-81F3-4702-A721-FC15BBE064ED}\PROXYSTUBCLSID32"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{93BEF56F-81F3-4702-A721-FC15BBE064ED}\TYPELIB"
                            value="{89C04549-4A55-40D9-BDCD-1ACBA9589480}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{93BEF56F-81F3-4702-A721-FC15BBE064ED}\TYPELIB"
                            value="18.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1DE36F54-CC83-4644-BE69-BC065908AFB1}"
                            value="OSAKit" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1DE36F54-CC83-4644-BE69-BC065908AFB1}\PROXYSTUBCLSID32"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1DE36F54-CC83-4644-BE69-BC065908AFB1}\TYPELIB"
                            value="{89C04549-4A55-40D9-BDCD-1ACBA9589480}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1DE36F54-CC83-4644-BE69-BC065908AFB1}\TYPELIB"
                            value="18.0" valueKind="String" valueName="VERSION" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}"
                            value="OSAKitPro.OSAKit" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\PROGID"
                            value="OSAKitPro.OSAKit" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\INPROCSERVER32"
                            value="%FP_STARTUP_PATH%\ActiveX\OSAKitPro\OSAKitPro.ocx"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\INPROCSERVER32"
                            value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\CONTROL"
                            value="" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\TOOLBOXBITMAP32"
                            value="%FP_STARTUP_PATH%\ActiveX\OSAKitPro\OSAKitPro.ocx, 30000"
                            valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\MISCSTATUS"
                            value="0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\MISCSTATUS\1"
                            value="197009" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\TYPELIB"
                            value="{89C04549-4A55-40D9-BDCD-1ACBA9589480}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\VERSION"
                            value="24.0" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OSAKITPRO.OSAKIT"
                            value="OSAKitPro.OSAKit" valueKind="String" valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OSAKITPRO.OSAKIT\CLSID"
                            value="{2D0280B1-DC42-4DFA-9525-09BD48838539}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{93BEF56F-81F3-4702-A721-FC15BBE064ED}\PROXYSTUBCLSID"
                            value="{00020424-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1DE36F54-CC83-4644-BE69-BC065908AFB1}\PROXYSTUBCLSID"
                            value="{00020420-0000-0000-C000-000000000046}" valueKind="String"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\IMPLEMENTED CATEGORIES"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\IMPLEMENTED CATEGORIES\{0DE86A57-2BAA-11CF-A229-00AA003D7352}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\IMPLEMENTED CATEGORIES\{0DE86A53-2BAA-11CF-A229-00AA003D7352}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\IMPLEMENTED CATEGORIES\{0DE86A52-2BAA-11CF-A229-00AA003D7352}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\IMPLEMENTED CATEGORIES\{40FC6ED4-2438-11CF-A3DB-080036F12502}"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\REQUIRED CATEGORIES"
                            valueName="" />
                        <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D0280B1-DC42-4DFA-9525-09BD48838539}\REQUIRED CATEGORIES\{D40C2700-FFA1-11CF-8234-00AA00C1AB85}"
                            valueName="" />
                    </registryStates>
                </modifications>
            </template>
        </templates>
    </flashpointSecurePlayer>
</configuration>