<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="ambulant">
        <mode name="SOFTWARE" commandLine="Ambulant\AmbulantPlayer.exe &quot;%FP_URL%&quot;" />
        <modifications>
          <environmentVariables>
            <environmentVariable name="FP_URL" find="http://" replace="http://localhost:22600/" />
          </environmentVariables>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>