<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="atmo212d">
        <mode name="WEB_BROWSER" />
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtl" valueName="" value="MetaStreamCtl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtl.1" valueName="" value="MetaStreamCtl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtl.1\CLSID" valueName="" value="{03F998B2-0E00-11D3-A498-00104B6EB52E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtl.1\Insertable" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtl\CLSID" valueName="" value="{03F998B2-0E00-11D3-A498-00104B6EB52E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtl\CurVer" valueName="" value="AxMetaStream.MetaStreamCtl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtlSecondary" valueName="" value="MetaStreamCtl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtlSecondary.1" valueName="" value="MetaStreamCtl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtlSecondary.1\CLSID" valueName="" value="{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtlSecondary.1\Insertable" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtlSecondary\CLSID" valueName="" value="{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\AxMetaStream.MetaStreamCtlSecondary\CurVer" valueName="" value="AxMetaStream.MetaStreamCtlSecondary.1" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\Software\Classes\TypeLib\{9DBB28C1-1925-11D3-A498-00104B6EB52E}" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\TypeLib\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0" valueName="" value="AxMetaStream 1.0 Type Library" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\Software\Classes\TypeLib\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\0" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\TypeLib\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\0\win32" valueName="" value="%FP_STARTUP_PATH%\Atmo212d\AxMetaStream.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\TypeLib\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\Flags" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\TypeLib\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\Atmo212d\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}" valueName="" value="MetaStreamCtl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Control" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Implemented Categories" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\InprocServer32" valueName="" value="%FP_STARTUP_PATH%\Atmo212d\AxMetaStream.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\InprocServer32" valueName="ThreadingModel" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Insertable" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\MiscStatus" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\MiscStatus\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\ProgID" valueName="" value="AxMetaStream.MetaStreamCtl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Programmable" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\ToolboxBitmap32" valueName="" value="%FP_STARTUP_PATH%\Atmo212d\AxMetaStream.dll, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\TypeLib" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\Version" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\VersionIndependentProgID" valueName="" value="AxMetaStream.MetaStreamCtl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" valueName="" value="MetaStreamCtl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Control" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Implemented Categories" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Implemented Categories\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Implemented Categories\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\InprocServer32" valueName="ThreadingModel" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\InprocServer32" valueName="" value="%FP_STARTUP_PATH%\Atmo212d\AxMetaStream.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Insertable" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\MiscStatus" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\MiscStatus\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\ProgID" valueName="" value="AxMetaStream.MetaStreamCtlSecondary.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Programmable" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\ToolboxBitmap32" valueName="" value="%FP_STARTUP_PATH%\Atmo212d\AxMetaStream.dll, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\TypeLib" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\Version" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\VersionIndependentProgID" valueName="" value="AxMetaStream.MetaStreamCtlSecondary" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}" valueName="" value="IMetaStreamCtl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\ProxyStubClsid" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\ProxyStubClsid32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\TypeLib" valueName="Version" value="1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\TypeLib" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}" valueName="" value="_IMetaStreamCtlEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\ProxyStubClsid" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\ProxyStubClsid32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\TypeLib" valueName="Version" value="1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Classes\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\TypeLib" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\Software\Adobe" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Adobe\Atmosphere Player" valueName="version" value="3.0.15.212" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\Software\MetaStream" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\MetaStream\MetaStream3" valueName="{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" value="%FP_STARTUP_PATH%\Atmo212d\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\MetaStream\MetaStream3" valueName="{03F998B2-0E00-11D3-A498-00104B6EB52E}" value="%FP_STARTUP_PATH%\Atmo212d\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\MetaStream\MetaStream3" valueName="Component Path" value="%FP_STARTUP_PATH%\Atmo212d\" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>