<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
		<templates>
			<template name="basiliskscaling">
				<mode name="SOFTWARE" commandLine="Basilisk-Portable\Basilisk-Portable.exe &quot;%FP_URL%&quot;" />
				<modifications>
					<environmentVariables>
					  <environmentVariable name="__COMPAT_LAYER" value="GDIDPISCALING DPIUNAWARE" />
					</environmentVariables>
					<singleInstance executable="basilisk.exe" strict="false" />
				</modifications>
			</template>
		</templates>
    </flashpointSecurePlayer>
</configuration>