<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.1.1.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
		<templates>
			<template name="blaxxun44">
				<mode name="WEB_BROWSER" />
				<modifications>
					<registryStates binaryType="SCS_32BIT_BINARY">
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0"
							valueName="" value="blaxxunCC3D Control module" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0\FLAGS"
							valueName="" value="2" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0\0\WIN32"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0\HELPDIR"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}"
							valueName="" value="IblaxxunCC3D" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID"
							valueName="" value="{00020420-0000-0000-C000-000000000046}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID32"
							valueName="" value="{00020420-0000-0000-C000-000000000046}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\TYPELIB"
							valueName="" value="{4B6E3010-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\TYPELIB"
							valueName="VERSION" value="1.0" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}"
							valueName="" value="IblaxxunCC3DEvents" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID"
							valueName="" value="{00020420-0000-0000-C000-000000000046}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID32"
							valueName="" value="{00020420-0000-0000-C000-000000000046}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\TYPELIB"
							valueName="" value="{4B6E3010-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\TYPELIB"
							valueName="VERSION" value="1.0" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0"
							valueName="" value="blaxxunVRML 1.0 Type Library, 4.0" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0\FLAGS"
							valueName="" value="0" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0\0\WIN32"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxunVRML.tlb"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0\HELPDIR"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3014-6E45-11D0-9309-0020AFE05CC8}"
							valueName="" value="blaxxun CC3D Property Page" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3014-6E45-11D0-9309-0020AFE05CC8}\INPROCSERVER32"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1"
							valueName="" value="blaxxun CC3D" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\CLSID"
							valueName="" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}"
							valueName="" value="blaxxun CC3D" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\PROGID"
							valueName="" value="blaxxunCC3D.blaxxunCC3D.1" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\INPROCSERVER32"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\TOOLBOXBITMAP32"
							valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx, 1"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\MISCSTATUS"
							valueName="" value="0" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\MISCSTATUS\1"
							valueName="" value="143761" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\CONTROL"
							valueName="" value="" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\TYPELIB"
							valueName="" value="{4B6E3010-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\VERSION"
							valueName="" value="1.0" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\INSERTABLE"
							valueName="" value="" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\INSERTABLE"
							valueName="" value="" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\INPROCSERVER32"
							valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\ENABLEFULLPAGE"
							valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\ENABLEFULLPAGE\.WRL"
							valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-BLAXXUNCC3D"
							valueName="CLSID" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-BLAXXUNCC3D"
							valueName="EXTENSION" value=".wrl" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\MODEL/VRML"
							valueName="CLSID" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\MODEL/VRML"
							valueName="EXTENSION" value=".wrl" valueKind="String" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\SHELL"
							valueName="" />
						<registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\SHELL\OPEN"
							valueName="" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\SHELL\OPEN\COMMAND"
							valueName="" value="&quot;C:\Program Files\Internet Explorer\IEXPLORE.EXE&quot; &quot;%1&quot;"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\DEFAULTICON"
							valueName="" value="C:\Program Files\Internet Explorer\IEXPLORE.EXE,1"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D"
							valueName="" value="blaxxun CC3D" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D\CLSID"
							valueName="" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}"
							valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D\CURVER"
							valueName="" value="blaxxunCC3D.blaxxunCC3D.1" valueKind="String" />
					</registryStates>
				</modifications>
			</template>
        </templates>
    </flashpointSecurePlayer>
</configuration>