<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="cosmo211">
        <mode name="SOFTWARE" commandLine="Netscape4\Communicator\Program\netscape.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <environmentVariables>
            <environmentVariable name="PATH" value="%FP_STARTUP_PATH%\VRML\Cosmo211\System32;%PATH%" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}" valueName="" value="CosmoMedia AudioRenderer3" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Cosmo211\System32\cm12_dshow.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\INPROCSERVER32" valueName="THREADINGMODEL" value="Both" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FILTER\{06646731-BCF3-11D0-9518-00C04FC2DD79}" valueName="" value="CosmoMedia AudioRenderer3" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}" valueName="MERIT" value="2097152" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN" valueName="DIRECTION" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN" valueName="ISRENDERED" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN" valueName="ALLOWEDZERO" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN" valueName="ALLOWEDMANY" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN" valueName="CONNECTSTOPIN" value="Output" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN\TYPES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN\TYPES\{73647561-0000-0010-8000-00AA00389B71}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646731-BCF3-11D0-9518-00C04FC2DD79}\PINS\IN\TYPES\{73647561-0000-0010-8000-00AA00389B71}\{00000000-0000-0000-0000-000000000000}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}" valueName="" value="CosmoMedia VideoRenderer3" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Cosmo211\System32\cm12_dshow.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\INPROCSERVER32" valueName="THREADINGMODEL" value="Both" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FILTER\{06646732-BCF3-11D0-9518-00C04FC2DD79}" valueName="" value="CosmoMedia VideoRenderer3" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}" valueName="MERIT" value="2097152" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT" valueName="DIRECTION" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT" valueName="ISRENDERED" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT" valueName="ALLOWEDZERO" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT" valueName="ALLOWEDMANY" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT" valueName="CONNECTSTOPIN" value="Output" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT\TYPES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT\TYPES\{73646976-0000-0010-8000-00AA00389B71}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{06646732-BCF3-11D0-9518-00C04FC2DD79}\PINS\INPUT\TYPES\{73646976-0000-0010-8000-00AA00389B71}\{00000000-0000-0000-0000-000000000000}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CosmoSoftware\RobRenderer\1.0\D3D" valueName="path" value="%FP_STARTUP_PATH%\VRML\Cosmo211\System32\rob10_d3d.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CosmoSoftware\RobRenderer\1.0\D3D" valueName="UIName" value="Direct3D Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CosmoSoftware\RobRenderer\1.0\NoRender" valueName="path" value="%FP_STARTUP_PATH%\VRML\Cosmo211\System32\rob10_none.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CosmoSoftware\RobRenderer\1.0\NoRender" valueName="UIName" value="NonRendering Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CosmoSoftware\RobRenderer\1.0\OpenGL" valueName="path" value="%FP_STARTUP_PATH%\VRML\Cosmo211\System32\rob10_gl.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CosmoSoftware\RobRenderer\1.0\OpenGL" valueName="UIName" value="OpenGL Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator" valueName="CurrentVersion" value="4.08 (en)" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Install Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Java Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Java" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="NetHelp Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\NetHelp" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Plugins Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Plugins" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Program Folder" value="Netscape Navigator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users" valueName="CurrentUser" value="default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="DirRoot" value="%FP_STARTUP_PATH%\Netscape4\Users\default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="UserName" value="Flashpoint" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="EmailAddr" value="" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>