<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="dfusion">
        <mode name="SOFTWARE" commandLine="fpnavigator-portable\FPNavigator.exe &quot;%FP_URL%&quot;" />
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\AppID\{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}" value="DFusionActiveX" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\AppID\DFusionActiveX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\AppID\DFusionActiveX.DLL" value="{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\DFusionActiveX.DFusionActiveXCtl.1" value="CDFusionActiveXCtl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\DFusionActiveX.DFusionActiveXCtl.1\CLSID" value="{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\DFusionActiveX.DFusionActiveXCtl" value="CDFusionActiveXCtl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\DFusionActiveX.DFusionActiveXCtl\CLSID" value="{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Classes\DFusionActiveX.DFusionActiveXCtl\CURVER" value="DFusionActiveX.DFusionActiveXCtl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}" value="CDFusionActiveXCtl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\PROGID" value="DFusionActiveX.DFusionActiveXCtl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\VERSIONINDEPENDENTPROGID" value="DFusionActiveX.DFusionActiveXCtl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\INPROCSERVER32" value="%FP_STARTUP_PATH%\BrowserPlugins\DFusionHomeWebPlugIn\DFusionWebIE_signed.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}" value="{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}" valueKind="String" valueName="APPID" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\BrowserPlugins\DFusionHomeWebPlugIn\DFusionWebIE_signed.dll, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\TYPELIB" value="{896657FB-BAC4-4ca7-B81A-D6A55890A36B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{FAB2BB9D-91E9-457e-9D42-75A7FCCBBC00}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}\1.0" value="DFusionActiveX 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\BrowserPlugins\DFusionHomeWebPlugIn\DFusionWebIE_signed.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A711033A-46C0-48CE-8814-C6B6DA62521A}" value="IDFusionActiveXCtl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A711033A-46C0-48CE-8814-C6B6DA62521A}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A711033A-46C0-48CE-8814-C6B6DA62521A}\TYPELIB" value="{38BB010E-2A65-408C-8E22-8F1FBA84EBA0}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A711033A-46C0-48CE-8814-C6B6DA62521A}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>
