<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="dpgraph">
        <mode name="SOFTWARE" commandLine="Netscape4\Communicator\Program\netscape.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.dpg" valueName="" value="DPGraph.File" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.dpg" valueName="Content Type" value="application/vnd.dpgraph" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.dpgraph" valueName="" value="DPGraph.File" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.dpgraph" valueName="Content Type" value="application/vnd.dpgraph" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.dpgraph\ShellNew" valueName="NullFile" value="" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.mwc" valueName="" value="DPGraph.File" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\.mwc" valueName="Content Type" value="application/vnd.dpgraph" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\DPGraph.File" valueName=" " value="DPGraph File" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\DPGraph.File" valueName="EditFlags" value="AAABAA==" valueKind="Binary"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\DPGraph.File\shell\open\command" valueName="" value='"%FP_STARTUP_PATH%\DPGraph\dpgraph.exe\" "%1"' valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Classes\MIME\Database\Content Type\application/vnd.dpgraph" valueName="Extension" value=".dpg" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\dpgraph.exe" valueName="" value='"%FP_STARTUP_PATH%\DPGraph\dpgraph.exe\"' valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows\CurrentVersion\UFH\SHC" valueName="6" value="%FP_STARTUP_PATH%\DPGraph\dpgraph.exe\;;;;" valueKind="MultiString"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Netscape\Netscape Navigator\Suffixes" valueName="application/vnd.dpgraph" value="dpg,mwc,dpgraph" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Netscape\Netscape Navigator\Viewers" valueName="application/vnd.dpgraph" value='"%FP_STARTUP_PATH%\DPGraph\dpgraph.exe"' valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Netscape\Netscape Navigator\Viewers" valueName="TYPE0" value="application/vnd.dpgraph" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator" valueName="CurrentVersion" value="4.08 (en)" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Install Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Java Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Java" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="NetHelp Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\NetHelp" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Plugins Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Plugins" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Program Folder" value="Netscape Navigator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users" valueName="CurrentUser" value="default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="DirRoot" value="%FP_STARTUP_PATH%\Netscape4\Users\default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="UserName" value="Flashpoint" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="EmailAddr" value="" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>