<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.4.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="eanimator">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVENVA.NVACTL.1\CLSID" value="{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVENVA.NVACTL\CLSID" value="{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVENVA.NVACTL\CURVER" value="ActiveNva.NvaCtl.1" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-NEVA1" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-NEVA1" value=".nva" valueKind="String" valueName="EXTENSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-NEVA1" value="{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}" valueKind="String" valueName="CLSID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}" value="ActiveNva Control" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\PROGID" value="ActiveNva.NvaCtl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\VERSIONINDEPENDENTPROGID" value="ActiveNva.NvaCtl" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\INPROCSERVER32" value="%FP_STARTUP_PATH%\BrowserPlugins\Eanimator\ActiveNva.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\CONTROL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\BrowserPlugins\Eanimator\ActiveNva.dll, 101" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\TYPELIB" value="{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\ENABLEFULLPAGE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{6F8AC4DE-286F-4A2B-98FB-2A73A46595BD}\ENABLEFULLPAGE\.NVA" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}\1.0" value="ActiveNva 1.0 À²Ìß ×²ÌÞ×Ø" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\BrowserPlugins\Eanimator\ActiveNva.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\BrowserPlugins\Eanimator\" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{12639BDA-A0DC-4022-98EA-E544ED9CA85E}" value="_INvaCtlEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{12639BDA-A0DC-4022-98EA-E544ED9CA85E}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{12639BDA-A0DC-4022-98EA-E544ED9CA85E}\TYPELIB" value="{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{12639BDA-A0DC-4022-98EA-E544ED9CA85E}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FC61FE56-555F-4485-B960-85040D8D75A6}" value="INvaCtl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FC61FE56-555F-4485-B960-85040D8D75A6}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FC61FE56-555F-4485-B960-85040D8D75A6}\TYPELIB" value="{3B3BCD4A-F1EF-4E9D-9092-7C86A4D0061B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FC61FE56-555F-4485-B960-85040D8D75A6}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>