<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="flatlandrover">
        <mode name="SOFTWARE" commandLine="Netscape4\Communicator\Program\netscape.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FLATLANDROVER.ROVER.1" value="Rover Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FLATLANDROVER.ROVER.1\CLSID" value="{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FLATLANDROVER.ROVER" value="Rover Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FLATLANDROVER.ROVER\CLSID" value="{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FLATLANDROVER.ROVER\CURVER" value="FlatlandRover.Rover.1" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\ENABLEFULLPAGE\.3DML" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\ENABLEFULLPAGE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}" value="Rover Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\PROGID" value="FlatlandRover.Rover.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\VERSIONINDEPENDENTPROGID" value="FlatlandRover.Rover" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\Flatland\FlatlandRover.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\CONTROL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\Flatland\FlatlandRover.dll, 101" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\TYPELIB" value="{65B3F6D5-90A3-41C6-A306-587BE396CFFB}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{A1BA23A5-E64C-4FB0-B415-3D67B243C22B}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{65B3F6D5-90A3-41C6-A306-587BE396CFFB}\1.0" value="FlatlandRover 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{65B3F6D5-90A3-41C6-A306-587BE396CFFB}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{65B3F6D5-90A3-41C6-A306-587BE396CFFB}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{65B3F6D5-90A3-41C6-A306-587BE396CFFB}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\Flatland\FlatlandRover.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{65B3F6D5-90A3-41C6-A306-587BE396CFFB}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\Flatland\" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{E006DBE0-F30F-4FC5-89E3-08214B405F7E}" value="_IRoverEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{E006DBE0-F30F-4FC5-89E3-08214B405F7E}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{E006DBE0-F30F-4FC5-89E3-08214B405F7E}\TYPELIB" value="{65B3F6D5-90A3-41C6-A306-587BE396CFFB}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{E006DBE0-F30F-4FC5-89E3-08214B405F7E}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBF084E9-3A06-4A29-A21F-5863DA6C14DF}" value="IRover" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBF084E9-3A06-4A29-A21F-5863DA6C14DF}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBF084E9-3A06-4A29-A21F-5863DA6C14DF}\TYPELIB" value="{65B3F6D5-90A3-41C6-A306-587BE396CFFB}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBF084E9-3A06-4A29-A21F-5863DA6C14DF}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator" valueName="CurrentVersion" value="4.08 (en)" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Install Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Java Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Java" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="NetHelp Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\NetHelp" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Plugins Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Plugins" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Program Folder" value="Netscape Navigator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users" valueName="CurrentUser" value="default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="DirRoot" value="%FP_STARTUP_PATH%\Netscape4\Users\default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="UserName" value="Flashpoint" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="EmailAddr" value="" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>