<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <flashpointSecurePlayer>
    <modifications>
      <modification name="hypercosm">
	    <modeTemplates>
		  <softwareModeTemplate>
		    <regexes>
		      <regex name="^(\s*&quot;?)(.+)$" replace="$1..\..\..\Server\htdocs\$2" />
		      <regex name="(.+)" replace="Hypercosm\components\Hypercosm3D5E449320.exe $1" />
			</regexes>
		  </softwareModeTemplate>
		</modeTemplates>
      </modification>
    </modifications>
  </flashpointSecurePlayer>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>