<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.0.8.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <flashpointSecurePlayer>
    <modifications>
      <modification name="hypercosm" runAsAdministrator="true">
	    <modeTemplates>
		  <softwareModeTemplate>
		    <regexes>
		      <regex name="^(\s*&quot;?)http://(.+)$" replace="$1..\..\..\Server\htdocs\$2" />
		      <regex name="(.+)" replace="Hypercosm\components\Hypercosm3D5E449320.exe $1" />
			</regexes>
		  </softwareModeTemplate>
		</modeTemplates>
		<registryBackups binaryType="SCS_32BIT_BINARY">
			<registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\Software\Hypercosm\Hypercosm Player"
				valueName="SystemDataPath" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\Hypercosm"
				valueKind="String" />
		</registryBackups>
      </modification>
    </modifications>
  </flashpointSecurePlayer>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>