<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <templates>
			<template name="live3d">
				<mode name="SOFTWARE" commandLine="Netscape4\Communicator\Program\netscape.exe &quot;%FP_URL%&quot;" />
				<modifications runAsAdministrator="true">
					<registryStates binaryType="SCS_32BIT_BINARY">
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR" valueName="CURRENTVERSION" value="4.08 (en)" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\4.08 (EN)\MAIN" valueName="INSTALL DIRECTORY" value="%FP_STARTUP_PATH%\Netscape4\Communicator" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\4.08 (EN)\MAIN" valueName="JAVA DIRECTORY" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Java" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\4.08 (EN)\MAIN" valueName="NETHELP DIRECTORY" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\NetHelp" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\4.08 (EN)\MAIN" valueName="PLUGINS DIRECTORY" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Plugins" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\4.08 (EN)\MAIN" valueName="PROGRAM FOLDER" value="Netscape Navigator" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\USERS" valueName="CURRENTUSER" value="DEFAULT" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\USERS\DEFAULT" valueName="DIRROOT" value="%FP_STARTUP_PATH%\Netscape4\Users\default" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\USERS\DEFAULT" valueName="USERNAME" value="Flashpoint" valueKind="String" />
						<registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\NETSCAPE\NETSCAPE NAVIGATOR\USERS\DEFAULT" valueName="EMAILADDR" value="" valueKind="String" />
					</registryStates>
				</modifications>
			</template>
        </templates>
    </flashpointSecurePlayer>
</configuration>