<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="netscape">
        <mode name="SOFTWARE" commandLine="Netscape4\Communicator\Program\netscape.exe &quot;%FP_URL%&quot;" />
        <modifications runAsAdministrator="true">
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator" valueName="CurrentVersion" value="4.08 (en)" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Install Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Java Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Java" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="NetHelp Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\NetHelp" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Plugins Directory" value="%FP_STARTUP_PATH%\Netscape4\Communicator\Program\Plugins" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\4.08 (en)\Main" valueName="Program Folder" value="Netscape Navigator" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users" valueName="CurrentUser" value="default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="DirRoot" value="%FP_STARTUP_PATH%\Netscape4\Users\default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="UserName" value="Flashpoint" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Netscape\Netscape Navigator\Users\default" valueName="EmailAddr" value="" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>