<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="rebol">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{9AA03053-9A87-4370-B170-D07B664BFD14}" value="REBOLPlugin" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\REBOLPLUGIN.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\REBOLPLUGIN.DLL" value="{9AA03053-9A87-4370-B170-D07B664BFD14}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\REBOLPLUGIN.IEPLUGIN.1" value="REBOL/Plugin for Internet Explorer" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\REBOLPLUGIN.IEPLUGIN.1\CLSID" value="{9DDFB297-9ED8-421d-B2AC-372A0F36E6C5}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\REBOLPLUGIN.IEPLUGIN" value="REBOL/Plugin for Internet Explorer" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\REBOLPLUGIN.IEPLUGIN\CLSID" value="{9DDFB297-9ED8-421d-B2AC-372A0F36E6C5}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\REBOLPLUGIN.IEPLUGIN\CURVER" value="REBOLPlugin.IEPlugin.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}" value="REBOL/Plugin for Internet Explorer" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\PROGID" value="REBOLPlugin.IEPlugin.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\VERSIONINDEPENDENTPROGID" value="REBOLPlugin.IEPlugin" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\INPROCSERVER32" value="%FP_STARTUP_PATH%\REBOL\REBOLPlugin.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}" value="{9AA03053-9A87-4370-B170-D07B664BFD14}" valueKind="String" valueName="APPID" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\REBOL\REBOLPlugin.dll, 104" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\TYPELIB" value="{896657FB-BAC4-4ca7-B81A-D6A55890A36B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{9DDFB297-9ED8-421D-B2AC-372A0F36E6C5}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{896657FB-BAC4-4CA7-B81A-D6A55890A36B}\1.0" value="REBOLPlugin 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{896657FB-BAC4-4CA7-B81A-D6A55890A36B}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{896657FB-BAC4-4CA7-B81A-D6A55890A36B}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{896657FB-BAC4-4CA7-B81A-D6A55890A36B}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\REBOL\REBOLPlugin.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{896657FB-BAC4-4CA7-B81A-D6A55890A36B}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\REBOL\" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{409D107D-7D9A-4CB0-94F2-40A8CC8A7D2F}" value="IIEPlugin" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{409D107D-7D9A-4CB0-94F2-40A8CC8A7D2F}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{409D107D-7D9A-4CB0-94F2-40A8CC8A7D2F}\TYPELIB" value="{896657FB-BAC4-4CA7-B81A-D6A55890A36B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{409D107D-7D9A-4CB0-94F2-40A8CC8A7D2F}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>