<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.4.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="shockwave256color">
        <mode name="SOFTWARE" commandLine="Shockwave/PJ851/SPR.exe &quot;%FP_URL%&quot; %FP_ARGUMENTS%" />
        <modifications>
          <environmentVariables>
            <environmentVariable name="__COMPAT_LAYER" value="256COLOR" />
          </environmentVariables>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>