<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="svrbasilisk">
        <mode name="SOFTWARE" commandLine="fpnavigator-portable\FPNavigator.exe &quot;%FP_URL%&quot;" />
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{96D94336-BF1E-11D1-8322-0020AF998C79}\1.0" valueName="" value="Superscape Viscape NavBar Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{96D94336-BF1E-11D1-8322-0020AF998C79}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{96D94336-BF1E-11D1-8322-0020AF998C79}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{96D94336-BF1E-11D1-8322-0020AF998C79}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Navbar.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{96D94336-BF1E-11D1-8322-0020AF998C79}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94337-BF1E-11D1-8322-0020AF998C79}" valueName="" value="ISuperscapeViscapeNavBarControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94337-BF1E-11D1-8322-0020AF998C79}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94337-BF1E-11D1-8322-0020AF998C79}\TYPELIB" valueName="" value="{96D94336-BF1E-11D1-8322-0020AF998C79}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94337-BF1E-11D1-8322-0020AF998C79}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94338-BF1E-11D1-8322-0020AF998C79}" valueName="" value="ISuperscapeViscapeNavBarControlEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94338-BF1E-11D1-8322-0020AF998C79}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94338-BF1E-11D1-8322-0020AF998C79}\TYPELIB" valueName="" value="{96D94336-BF1E-11D1-8322-0020AF998C79}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{96D94338-BF1E-11D1-8322-0020AF998C79}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{96D94339-BF1E-11D1-8322-0020AF998C79}" valueName="" value="Superscape Viscape NavBar Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{96D94339-BF1E-11D1-8322-0020AF998C79}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Navbar.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}" valueName="" value="Superscape Viscape NavBar Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SUPERSCAPE VISCAPE NAVBAR CONTROL" valueName="" value="Superscape Viscape NavBar Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\SUPERSCAPE VISCAPE NAVBAR CONTROL\CLSID" valueName="" value="{B4DCAF60-A77C-11D1-8322-0020AF998C79}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\PROGID" valueName="" value="Superscape Viscape NavBar Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Navbar.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Navbar.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\TYPELIB" valueName="" value="{96D94336-BF1E-11D1-8322-0020AF998C79}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B4DCAF60-A77C-11D1-8322-0020AF998C79}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1B487520-BEC2-11CF-BF9E-0020AF998FF5}\1.1" valueName="" value="Superscape Viscape" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1B487520-BEC2-11CF-BF9E-0020AF998FF5}\1.1\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1B487520-BEC2-11CF-BF9E-0020AF998FF5}\1.1\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1B487520-BEC2-11CF-BF9E-0020AF998FF5}\1.1\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Vrtocx.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1B487520-BEC2-11CF-BF9E-0020AF998FF5}\1.1\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}" valueName="" value="Superscape Viscape" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VIRTUAL_WORLDS" valueName="" value="Superscape Viscape" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\VIRTUAL_WORLDS\CLSID" valueName="" value="{1B487523-BEC2-11CF-BF9E-0020AF998FF5}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\PROGID" valueName="" value="Virtual_Worlds" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Vrtocx.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\Vrtocx.ocx, 201" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\TYPELIB" valueName="" value="{1B487520-BEC2-11CF-BF9E-0020AF998FF5}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\VERSION" valueName="" value="1.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\ENABLEFULLPAGE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\ENABLEFULLPAGE\.VRT" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\ENABLEFULLPAGE\.SVR" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B487523-BEC2-11CF-BF9E-0020AF998FF5}\ENABLEFULLPAGE\.XVR" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}" valueName="" value="SCL Audio Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\SCLAudio.ax" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\INPROCSERVER32" valueName="THREADINGMODEL" value="Both" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FILTER\{BBED38A0-72D9-11D0-AB39-0020AF71E433}" valueName="" value="SCL Audio Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}" valueName="MERIT" value="2097152" valueKind="DWord" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT\TYPES" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="DIRECTION" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="ISRENDERED" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="ALLOWEDZERO" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="ALLOWEDMANY" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="CONNECTSTOPIN" value="Output" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT\TYPES\{73647561-0000-0010-8000-00AA00389B71}\{00000000-0000-0000-0000-000000000000}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BBED38A0-72D9-11D0-AB39-0020AF71E433}\PINS\INPUT\TYPES\{73647561-0000-0010-8000-00AA00389B71}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}" valueName="" value="SCL Video Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SVR\SCLVideo.ax" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\INPROCSERVER32" valueName="THREADINGMODEL" value="Both" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FILTER\{64302E60-6AD2-11D0-AB39-0020AF71E433}" valueName="" value="SCL Video Renderer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}" valueName="MERIT" value="2097152" valueKind="DWord" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT\TYPES" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="DIRECTION" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="ISRENDERED" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="ALLOWEDZERO" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="ALLOWEDMANY" value="0" valueKind="DWord" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT" valueName="CONNECTSTOPIN" value="Output" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT\TYPES\{73646976-0000-0010-8000-00AA00389B71}\{00000000-0000-0000-0000-000000000000}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{64302E60-6AD2-11D0-AB39-0020AF71E433}\PINS\INPUT\TYPES\{73646976-0000-0010-8000-00AA00389B71}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\X-WORLD/X-VRT" valueName="CLSID" value="{1B487523-BEC2-11CF-BF9E-0020AF998FF5}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\X-WORLD/X-VRT" valueName="EXTENSION" value=".vrt" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\X-WORLD/X-SVR" valueName="CLSID" value="{1B487523-BEC2-11CF-BF9E-0020AF998FF5}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\X-WORLD/X-SVR" valueName="EXTENSION" value=".svr" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\X-WORLD/X-XVR" valueName="CLSID" value="{1B487523-BEC2-11CF-BF9E-0020AF998FF5}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\X-WORLD/X-XVR" valueName="EXTENSION" value=".xvr" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\.VRT" valueName="" value="Virtual_Worlds" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\.VRT" valueName="CONTENT TYPE" value="x-world/x-vrt" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\.SVR" valueName="" value="Virtual_Worlds" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\.SVR" valueName="CONTENT TYPE" value="x-world/x-svr" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\.XVR" valueName="" value="Virtual_Worlds" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\.XVR" valueName="CONTENT TYPE" value="x-world/x-xvr" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\Superscape\Superscape Viscape\Preferences" valueName="Name" value="FP" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\Superscape\Superscape Viscape\Preferences" valueName="Company" value="FP" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\Superscape\Superscape Viscape\Preferences" valueName="Path" value="%FP_STARTUP_PATH%\SVR" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\Superscape\Superscape Viscape\Preferences" valueName="TempDir" value="%FP_STARTUP_PATH%\SVR\temp" valueKind="String" />
          </registryStates>
          <singleInstance executable="flashpointnavigator.exe" strict="false" />
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>