<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.4.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="thingviewer">
        <modifications>
          <environmentVariables>
            <environmentVariable name="PATH" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer;%PATH%" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.THINGVIEWER.1" value="ThingViewer Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.THINGVIEWER.1\CLSID" value="{F2D71283-BEE3-11d0-90AE-00A0C9270D87}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.THINGVIEWER" value="ThingViewer Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.THINGVIEWER\CURVER" value="ThingViewer.ThingViewer.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}" value="ThingViewer Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\PROGID" value="ThingViewer.ThingViewer.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\VERSIONINDEPENDENTPROGID" value="ThingViewer.ThingViewer" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\CONTROL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\TYPELIB" value="{F2D71282-BEE3-11d0-90AE-00A0C9270D87}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVHELPER.1" value="TvHelper Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVHELPER.1\CLSID" value="{200B1664-82FD-11D2-A1F6-00104BC86964}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVHELPER" value="TvHelper Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVHELPER\CURVER" value="ThingViewer.TvHelper.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{200B1664-82FD-11D2-A1F6-00104BC86964}" value="TvHelper Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{200B1664-82FD-11D2-A1F6-00104BC86964}\PROGID" value="ThingViewer.TvHelper.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{200B1664-82FD-11D2-A1F6-00104BC86964}\VERSIONINDEPENDENTPROGID" value="ThingViewer.TvHelper" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{200B1664-82FD-11D2-A1F6-00104BC86964}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{200B1664-82FD-11D2-A1F6-00104BC86964}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVBEHAVIOR.1" value="TvBehavior Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVBEHAVIOR.1\CLSID" value="{01DC7834-F8E2-11d2-8070-00104BC86972}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVBEHAVIOR" value="TvBehavior Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVBEHAVIOR\CURVER" value="ThingViewer.TvBehavior.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7834-F8E2-11D2-8070-00104BC86972}" value="TvBehavior Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7834-F8E2-11D2-8070-00104BC86972}\PROGID" value="ThingViewer.TvBehavior.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7834-F8E2-11D2-8070-00104BC86972}\VERSIONINDEPENDENTPROGID" value="ThingViewer.TvBehavior" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7834-F8E2-11D2-8070-00104BC86972}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7834-F8E2-11D2-8070-00104BC86972}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVFACTORY.1" value="TvFactory Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVFACTORY.1\CLSID" value="{01DC7833-F8E2-11d2-8070-00104BC86972}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVFACTORY" value="TvFactory Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\THINGVIEWER.TVFACTORY\CURVER" value="ThingViewer.TvFactory.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7833-F8E2-11D2-8070-00104BC86972}" value="TvFactory Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7833-F8E2-11D2-8070-00104BC86972}\PROGID" value="ThingViewer.TvFactory.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7833-F8E2-11D2-8070-00104BC86972}\VERSIONINDEPENDENTPROGID" value="ThingViewer.TvFactory" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7833-F8E2-11D2-8070-00104BC86972}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7833-F8E2-11D2-8070-00104BC86972}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{01DC7833-F8E2-11D2-8070-00104BC86972}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.INMEM.1" value="ThingWorld InMemory Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.INMEM.1\CLSID" value="{2B7A7311-1464-11d3-8076-00104BC86972}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.INMEM" value="ThingWorld InMemory Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.INMEM\CURVER" value="tw.inmem.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.INMEM\CLSID" value="{2B7A7311-1464-11d3-8076-00104BC86972}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2B7A7311-1464-11D3-8076-00104BC86972}" value="ThingWorld InMemory Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2B7A7311-1464-11D3-8076-00104BC86972}\PROGID" value="tw.inmem.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2B7A7311-1464-11D3-8076-00104BC86972}\VERSIONINDEPENDENTPROGID" value="tw.inmem" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2B7A7311-1464-11D3-8076-00104BC86972}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2B7A7311-1464-11D3-8076-00104BC86972}\INPROCSERVER32" value="Both" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.MEMBUF.1" value="ThingWorld Memory Buffer Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.MEMBUF.1\CLSID" value="{B5F29EE2-49B0-11d3-8090-00104BC86972}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.MEMBUF" value="ThingWorld Memory Buffer Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.MEMBUF\CURVER" value="tw.membuf.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TW.MEMBUF\CLSID" value="{B5F29EE2-49B0-11d3-8090-00104BC86972}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B5F29EE2-49B0-11D3-8090-00104BC86972}" value="ThingWorld  Memory Buffer Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B5F29EE2-49B0-11D3-8090-00104BC86972}\PROGID" value="tw.membuf.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B5F29EE2-49B0-11D3-8090-00104BC86972}\VERSIONINDEPENDENTPROGID" value="tw.membuf" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B5F29EE2-49B0-11D3-8090-00104BC86972}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B5F29EE2-49B0-11D3-8090-00104BC86972}\INPROCSERVER32" value="Both" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F2D71282-BEE3-11D0-90AE-00A0C9270D87}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F2D71282-BEE3-11D0-90AE-00A0C9270D87}\1.0" value="ThingViewer 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F2D71282-BEE3-11D0-90AE-00A0C9270D87}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F2D71282-BEE3-11D0-90AE-00A0C9270D87}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F2D71282-BEE3-11D0-90AE-00A0C9270D87}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\ThingV2.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F2D71282-BEE3-11D0-90AE-00A0C9270D87}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\ThingViewer\" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F7F13AA1-EC9D-11D0-8705-00A0C92E097E}" value="_ThingEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F7F13AA1-EC9D-11D0-8705-00A0C92E097E}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F7F13AA1-EC9D-11D0-8705-00A0C92E097E}\TYPELIB" value="{F2D71282-BEE3-11D0-90AE-00A0C9270D87}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F7F13AA1-EC9D-11D0-8705-00A0C92E097E}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F2D71281-BEE3-11D0-90AE-00A0C9270D87}" value="IThingCtrl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F2D71281-BEE3-11D0-90AE-00A0C9270D87}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F2D71281-BEE3-11D0-90AE-00A0C9270D87}\TYPELIB" value="{F2D71282-BEE3-11D0-90AE-00A0C9270D87}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F2D71281-BEE3-11D0-90AE-00A0C9270D87}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7831-F8E2-11D2-8070-00104BC86972}" value="ITvFactory" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7831-F8E2-11D2-8070-00104BC86972}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7831-F8E2-11D2-8070-00104BC86972}\TYPELIB" value="{F2D71282-BEE3-11D0-90AE-00A0C9270D87}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7831-F8E2-11D2-8070-00104BC86972}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7832-F8E2-11D2-8070-00104BC86972}" value="ITvBehavior" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7832-F8E2-11D2-8070-00104BC86972}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7832-F8E2-11D2-8070-00104BC86972}\TYPELIB" value="{F2D71282-BEE3-11D0-90AE-00A0C9270D87}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{01DC7832-F8E2-11D2-8070-00104BC86972}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="KEY" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\COMPONENT CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\COMPONENT CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\COMPONENT CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-PARABLE-THING" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-PARABLE-THING" value=".tms" valueKind="String" valueName="EXTENSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-PARABLE-THING" value="{F2D71283-BEE3-11D0-90AE-00A0C9270D87}" valueKind="String" valueName="CLSID" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.TMS" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\.TMS" value="application/x-Parable-Thing" valueKind="String" valueName="CONTENT TYPE" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\ENABLEFULLPAGE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F2D71283-BEE3-11D0-90AE-00A0C9270D87}\ENABLEFULLPAGE\.TMS" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>