<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="unitywebplayer5">
        <mode name="SOFTWARE" commandLine="fpnavigator-portable\FPNavigator.exe &quot;%FP_URL%&quot;" />
        <modifications>
          <environmentVariables>
            <environmentVariable name="FP_UNITY_PATH" value="%FP_STARTUP_PATH%\BrowserPlugins\UnityWebPlayer\Unity3d5.x\loader" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\Unity\WebPlayer" valueName="Directory" value="%FP_STARTUP_PATH%\BrowserPlugins\UnityWebPlayer\Unity3d5.x" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\Software\Unity\WebPlayer" valueName="UnityWebPlayerReleaseChannel" value="Stable" valueKind="String" />
          </registryStates>
          <singleInstance executable="flashpointnavigator.exe" strict="false" />
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>