<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <flashpointSecurePlayer>
        <modifications>
            <modification name="unitywebplayer3scaling">
				<environmentVariables>
				  <environmentVariable name="__COMPAT_LAYER" value="GDIDPISCALING DPIUNAWARE" />
				  <environmentVariable name="FP_UNITY_PATH" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\BrowserPlugins\UnityWebPlayer\Unity3d3.x\loader" />
				</environmentVariables>
				<modeTemplates>
				  <softwareModeTemplate>
					<regexes>
					  <regex name="(.+)" replace="Basilisk-Portable\Basilisk-Portable.exe $1" />
					</regexes>
				  </softwareModeTemplate>
				</modeTemplates>
                <registryBackups binaryType="SCS_32BIT_BINARY">
                    <registryBackup type="VALUE" keyName="HKEY_CURRENT_USER\Software\Unity\WebPlayer"
                        valueName="Directory" value="%FLASHPOINTSECUREPLAYERSTARTUPPATH%\BrowserPlugins\UnityWebPlayer\Unity3d3.x"
                        valueKind="String" />
                </registryBackups>
				<singleInstance strict="false" commandLine="basilisk.exe" />
            </modification>
        </modifications>
    </flashpointSecurePlayer>
</configuration>