<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\axhost\axhost.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXHOST.WILDFIREACTIVEXHOST.1" valueName="" value="WildfireActiveXHost Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXHOST.WILDFIREACTIVEXHOST.1\CLSID" valueName="" value="{87056D28-9730-4A47-B9F9-7E890B62C58A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXHOST.WILDFIREACTIVEXHOST" valueName="" value="WildfireActiveXHost Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXHOST.WILDFIREACTIVEXHOST\CLSID" valueName="" value="{87056D28-9730-4A47-B9F9-7E890B62C58A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXHOST.WILDFIREACTIVEXHOST\CURVER" valueName="" value="Axhost.WildfireActiveXHost.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}" valueName="" value="WildfireActiveXHost Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\PROGID" valueName="" value="Axhost.WildfireActiveXHost.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\VERSIONINDEPENDENTPROGID" valueName="" value="Axhost.WildfireActiveXHost" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\axhost\axhost.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\axhost\axhost.dll, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\TYPELIB" valueName="" value="{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{87056D28-9730-4A47-B9F9-7E890B62C58A}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}\1.0" valueName="" value="axhost 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\axhost\axhost.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\axhost\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{8A4C6004-3AAF-47E7-A64E-DEF9E0F451F2}" valueName="" value="IWildfireActiveXHost" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{8A4C6004-3AAF-47E7-A64E-DEF9E0F451F2}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{8A4C6004-3AAF-47E7-A64E-DEF9E0F451F2}\TYPELIB" valueName="" value="{D3528B26-644D-4FE0-AC47-5ED9CBD05FD0}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{8A4C6004-3AAF-47E7-A64E-DEF9E0F451F2}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>