<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\parkingdash\parkingdashweb.1.0.0.10.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}" valueName="" value="activex" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="APPID" value="{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTPARKINGDASCONTROL.1" valueName="" value="CPlayFirstParkingDasControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTPARKINGDASCONTROL.1\CLSID" valueName="" value="{F135A813-7152-4532-AC8D-28AC2136DFC7}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTPARKINGDASCONTROL" valueName="" value="CPlayFirstParkingDasControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTPARKINGDASCONTROL\CLSID" valueName="" value="{F135A813-7152-4532-AC8D-28AC2136DFC7}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTPARKINGDASCONTROL\CURVER" valueName="" value="activex.PlayFirstParkingDasControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}" valueName="" value="CPlayFirstParkingDasControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\PROGID" valueName="" value="activex.PlayFirstParkingDasControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstParkingDasControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\parkingdash\ParkingDashWeb.1.0.0.10.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\parkingdash\ParkingDashWeb.1.0.0.10.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}" valueName="APPID" value="{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\TYPELIB" valueName="" value="{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F135A813-7152-4532-AC8D-28AC2136DFC7}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\parkingdash\ParkingDashWeb.1.0.0.10.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}\1.0\HELPDIR" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{D920D99B-52E0-4E69-BDA5-FC644B1D61F7}" valueName="" value="IPlayFirstParkingDasControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{D920D99B-52E0-4E69-BDA5-FC644B1D61F7}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{D920D99B-52E0-4E69-BDA5-FC644B1D61F7}\TYPELIB" valueName="" value="{0C115FF2-4E22-4E3F-B57A-C8ACC860220B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{D920D99B-52E0-4E69-BDA5-FC644B1D61F7}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>