<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\cards\cards.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CARDS.CARDSCTRL.1" value="CardsCtrl Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CARDS.CARDSCTRL.1\CLSID" value="{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CARDS.CARDSCTRL" value="CardsCtrl Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CARDS.CARDSCTRL\CLSID" value="{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CARDS.CARDSCTRL\CURVER" value="Cards.CardsCtrl.1" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}" value="CardsCtrl Class" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\PROGID" value="Cards.CardsCtrl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\VERSIONINDEPENDENTPROGID" value="Cards.CardsCtrl" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\cards\Cards.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\CONTROL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\cards\Cards.ocx, 101" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\TYPELIB" value="{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{889F8ACD-5A8E-11D4-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}\1.0" value="Cards ActiveX Control" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\cards\Cards.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\cards\" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACE-5A8E-11D4-A057-00104B5FBF5B}" value="_ICardsCtrlEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACE-5A8E-11D4-A057-00104B5FBF5B}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACE-5A8E-11D4-A057-00104B5FBF5B}\TYPELIB" value="{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACE-5A8E-11D4-A057-00104B5FBF5B}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACC-5A8E-11D4-A057-00104B5FBF5B}" value="ICardsCtrl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACC-5A8E-11D4-A057-00104B5FBF5B}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACC-5A8E-11D4-A057-00104B5FBF5B}\TYPELIB" value="{889F8AC0-5A8E-11D4-A057-00104B5FBF5B}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{889F8ACC-5A8E-11D4-A057-00104B5FBF5B}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>