<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\spintopgameslauncher\spintopgameslauncher.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PTGAMELAUNCHER.PTGAMELAUNCHERCTRL.1" valueName="" value="SpinTop Games Launcher" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PTGAMELAUNCHER.PTGAMELAUNCHERCTRL.1\CLSID" valueName="" value="{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PTGAMELAUNCHER.PTGAMELAUNCHERCTRL" valueName="" value="SpinTop Games Launcher" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PTGAMELAUNCHER.PTGAMELAUNCHERCTRL\CLSID" valueName="" value="{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PTGAMELAUNCHER.PTGAMELAUNCHERCTRL\CURVER" valueName="" value="PTGameLauncher.PTGameLauncherCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}" valueName="" value="SpinTop Games Launcher" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\PROGID" valueName="" value="PTGameLauncher.PTGameLauncherCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\VERSIONINDEPENDENTPROGID" valueName="" value="PTGameLauncher.PTGameLauncherCtrl" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SpinTopGamesLauncher\SpinTopGamesLauncher.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SpinTopGamesLauncher\SpinTopGamesLauncher.dll, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\TYPELIB" valueName="" value="{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8FA2192F-B95D-40E3-898F-8D7ABB8E00D0}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}\1.0" valueName="" value="PTGameLauncher 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SpinTopGamesLauncher\SpinTopGamesLauncher.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\SpinTopGamesLauncher\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A48BC687-D6C3-4CA0-9C06-634F8A998515}" valueName="" value="_IPTGameLauncherCtrlEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A48BC687-D6C3-4CA0-9C06-634F8A998515}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A48BC687-D6C3-4CA0-9C06-634F8A998515}\TYPELIB" valueName="" value="{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A48BC687-D6C3-4CA0-9C06-634F8A998515}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{6C185FCD-C8C6-46B9-8377-93B249A311F6}" valueName="" value="IPTGameLauncherCtrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{6C185FCD-C8C6-46B9-8377-93B249A311F6}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{6C185FCD-C8C6-46B9-8377-93B249A311F6}\TYPELIB" valueName="" value="{17E52CB5-CAA6-4A85-B3A1-36E07B4ABFCF}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{6C185FCD-C8C6-46B9-8377-93B249A311F6}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>