<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\ddfotg\ddfotg.1.0.0.33.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDDFOTGCONTROL.1" valueName="" value="CPlayFirstddfotgControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDDFOTGCONTROL.1\CLSID" valueName="" value="{BAE1D8DF-0B35-47e3-A1E7-EEB3FF2ECD19}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDDFOTGCONTROL" valueName="" value="CPlayFirstddfotgControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDDFOTGCONTROL\CLSID" valueName="" value="{BAE1D8DF-0B35-47e3-A1E7-EEB3FF2ECD19}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDDFOTGCONTROL\CURVER" valueName="" value="activex.PlayFirstddfotgControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}" valueName="" value="CPlayFirstddfotgControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\PROGID" valueName="" value="activex.PlayFirstddfotgControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstddfotgControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\ddfotg\ddfotg.1.0.0.33.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\ddfotg\ddfotg.1.0.0.33.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}" valueName="APPID" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\TYPELIB" valueName="" value="{1C901D93-0A8F-4396-AA9D-96971573A305}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{BAE1D8DF-0B35-47E3-A1E7-EEB3FF2ECD19}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1C901D93-0A8F-4396-AA9D-96971573A305}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1C901D93-0A8F-4396-AA9D-96971573A305}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1C901D93-0A8F-4396-AA9D-96971573A305}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1C901D93-0A8F-4396-AA9D-96971573A305}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\ddfotg\ddfotg.1.0.0.33.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{1C901D93-0A8F-4396-AA9D-96971573A305}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\ddfotg\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2DE9CD38-9317-4858-96CD-5D36F5BF3740}" valueName="" value="IPlayFirstddfotgControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2DE9CD38-9317-4858-96CD-5D36F5BF3740}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2DE9CD38-9317-4858-96CD-5D36F5BF3740}\TYPELIB" valueName="" value="{1C901D93-0A8F-4396-AA9D-96971573A305}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{2DE9CD38-9317-4858-96CD-5D36F5BF3740}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>