<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\aquacade\aquacade.dll">
        <modifications>
          <environmentVariables>
            <environmentVariable name="__COMPAT_LAYER" value="Win2000Sp2" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLLINESCTL.ATLLINESCTLATTRIB.1" valueName="" value="AtlBoxWordCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLLINESCTL.ATLLINESCTLATTRIB.1\CLSID" valueName="" value="{40ac0f29-df27-4711-b279-48b1f83a66ab}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLLINESCTL.ATLLINESCTLATTRIB" valueName="" value="AtlBoxWordCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLLINESCTL.ATLLINESCTLATTRIB\CLSID" valueName="" value="{40ac0f29-df27-4711-b279-48b1f83a66ab}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLLINESCTL.ATLLINESCTLATTRIB\CURVER" valueName="" value="AtlLinesCtl.AtlLinesCtlAttrib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}" valueName="" value="AtlBoxWordCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\PROGID" valueName="" value="AtlLinesCtl.AtlLinesCtlAttrib.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\VERSIONINDEPENDENTPROGID" valueName="" value="AtlLinesCtl.AtlLinesCtlAttrib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\aquacade\aquacade.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\INPROCSERVER32" valueName="THREADINGMODEL" value="" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\aquacade\aquacade.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\TYPELIB" valueName="" value="{EE1D2FC8-5797-463A-81B1-D73FCED72A38}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{40AC0F29-DF27-4711-B279-48B1F83A66AB}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0" valueName="" value="ATLFIREATTRLib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\aquacade\aquacade.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\aquacade\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}" valueName="" value="ILinesCtrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}\TYPELIB" valueName="" value="{EE1D2FC8-5797-463A-81B1-D73FCED72A38}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>