<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\asianata\asianata.dll">
        <modifications>
          <environmentVariables>
            <environmentVariable name="__COMPAT_LAYER" value="Win2000Sp2" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLASIANATACTL.ATLASIANATACTLATTRIB.1" valueName="" value="AtlAsianataCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLASIANATACTL.ATLASIANATACTLATTRIB.1\CLSID" valueName="" value="{916ccbe5-c8c5-4f34-aef8-064504454c75}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLASIANATACTL.ATLASIANATACTLATTRIB" valueName="" value="AtlAsianataCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLASIANATACTL.ATLASIANATACTLATTRIB\CLSID" valueName="" value="{916ccbe5-c8c5-4f34-aef8-064504454c75}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLASIANATACTL.ATLASIANATACTLATTRIB\CURVER" valueName="" value="AtlAsianataCtl.AtlAsianataCtlAttrib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}" valueName="" value="AtlAsianataCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\PROGID" valueName="" value="AtlAsianataCtl.AtlAsianataCtlAttrib.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\VERSIONINDEPENDENTPROGID" valueName="" value="AtlAsianataCtl.AtlAsianataCtlAttrib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\asianata\asianata.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\INPROCSERVER32" valueName="THREADINGMODEL" value="" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\asianata\asianata.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\TYPELIB" valueName="" value="{EE1D2FC8-5797-463A-81B1-D73FCED72A38}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{916CCBE5-C8C5-4F34-AEF8-064504454C75}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0" valueName="" value="ATLFIREATTRLib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\asianata\asianata.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EE1D2FC8-5797-463A-81B1-D73FCED72A38}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\asianata\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}" valueName="" value="IAsianataCtrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}\TYPELIB" valueName="" value="{EE1D2FC8-5797-463A-81B1-D73FCED72A38}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{64D5FEDB-3177-42E4-BE45-F4814BFA310E}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>