<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\rubikscube">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0" valueName="" value="FHDLButton ActiveX Control module" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\FHDLButton.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}" valueName="" value="_DFHDLButton" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" valueName="" value="{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA83-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}" valueName="" value="_DFHDLButtonEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" valueName="" value="{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F9F0DA84-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA86-3A37-11D3-A057-00104B5FBF5B}" valueName="" value="FHDLButton Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA86-3A37-11D3-A057-00104B5FBF5B}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\FHDLButton.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}" valueName="" value="FHDLButton Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FHDLBUTTON.FHDLBUTTONCTRL.1" valueName="" value="FHDLButton Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\FHDLBUTTON.FHDLBUTTONCTRL.1\CLSID" valueName="" value="{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\PROGID" valueName="" value="FHDLBUTTON.FHDLButtonCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\FHDLButton.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\FHDLButton.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\TYPELIB" valueName="" value="{F9F0DA82-3A37-11D3-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F9F0DA85-3A37-11D3-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKCTL.1" valueName="" value="Rubiks Cube ActiveX" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKCTL.1\CLSID" valueName="" value="{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKCTL" valueName="" value="Rubiks Cube ActiveX" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKCTL\CLSID" valueName="" value="{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKCTL\CURVER" valueName="" value="Rubik.RubikCtl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}" valueName="" value="Rubiks Cube ActiveX" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\PROGID" valueName="" value="Rubik.RubikCtl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\VERSIONINDEPENDENTPROGID" valueName="" value="Rubik.RubikCtl" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\Rubik.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\CONTROL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\INSERTABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\Rubik.ocx, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\TYPELIB" valueName="" value="{56FEB340-6CB5-11D4-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{56FEB34D-6CB5-11D4-A057-00104B5FBF5B}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKPPG.1" valueName="" value="RubikPpg Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKPPG.1\CLSID" valueName="" value="{CA184CCC-C693-45FF-8020-C8C064898BBD}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKPPG" valueName="" value="RubikPpg Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKPPG\CLSID" valueName="" value="{CA184CCC-C693-45FF-8020-C8C064898BBD}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\RUBIK.RUBIKPPG\CURVER" valueName="" value="Rubik.RubikPpg.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{CA184CCC-C693-45FF-8020-C8C064898BBD}" valueName="" value="RubikPpg Class" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{CA184CCC-C693-45FF-8020-C8C064898BBD}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{CA184CCC-C693-45FF-8020-C8C064898BBD}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\Rubik.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{CA184CCC-C693-45FF-8020-C8C064898BBD}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{56FEB340-6CB5-11D4-A057-00104B5FBF5B}\1.0" valueName="" value="Rubiks Cube ActiveX" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{56FEB340-6CB5-11D4-A057-00104B5FBF5B}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{56FEB340-6CB5-11D4-A057-00104B5FBF5B}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{56FEB340-6CB5-11D4-A057-00104B5FBF5B}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\Rubik.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{56FEB340-6CB5-11D4-A057-00104B5FBF5B}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\RubiksCube\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34E-6CB5-11D4-A057-00104B5FBF5B}" valueName="" value="_IRubikCtlEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34E-6CB5-11D4-A057-00104B5FBF5B}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34E-6CB5-11D4-A057-00104B5FBF5B}\TYPELIB" valueName="" value="{56FEB340-6CB5-11D4-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34E-6CB5-11D4-A057-00104B5FBF5B}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34C-6CB5-11D4-A057-00104B5FBF5B}" valueName="" value="IRubikCtl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34C-6CB5-11D4-A057-00104B5FBF5B}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34C-6CB5-11D4-A057-00104B5FBF5B}\TYPELIB" valueName="" value="{56FEB340-6CB5-11D4-A057-00104B5FBF5B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FEB34C-6CB5-11D4-A057-00104B5FBF5B}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>