<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\mahjongroadshow\mahjongroadshow.1.0.0.17.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{8068E2A1-D948-4093-AC66-6E7DCB76D04A}" valueName="" value="activex" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="APPID" value="{8068E2A1-D948-4093-AC66-6E7DCB76D04A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMAHJONGROACONTROL.1" valueName="" value="CPlayFirstMahjongRoaControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMAHJONGROACONTROL.1\CLSID" valueName="" value="{F46BD8B1-DE4C-4a4f-B6F6-8FB68D25342D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMAHJONGROACONTROL" valueName="" value="CPlayFirstMahjongRoaControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMAHJONGROACONTROL\CLSID" valueName="" value="{F46BD8B1-DE4C-4a4f-B6F6-8FB68D25342D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMAHJONGROACONTROL\CURVER" valueName="" value="activex.PlayFirstMahjongRoaControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}" valueName="" value="CPlayFirstMahjongRoaControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\PROGID" valueName="" value="activex.PlayFirstMahjongRoaControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstMahjongRoaControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MahjongRoadshow\MahjongRoadshow.1.0.0.17.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MahjongRoadshow\MahjongRoadshow.1.0.0.17.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}" valueName="APPID" value="{8068E2A1-D948-4093-AC66-6E7DCB76D04A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\TYPELIB" valueName="" value="{8068E2A1-D948-4093-AC66-6E7DCB76D04A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F46BD8B1-DE4C-4A4F-B6F6-8FB68D25342D}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8068E2A1-D948-4093-AC66-6E7DCB76D04A}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8068E2A1-D948-4093-AC66-6E7DCB76D04A}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8068E2A1-D948-4093-AC66-6E7DCB76D04A}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8068E2A1-D948-4093-AC66-6E7DCB76D04A}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MahjongRoadshow\MahjongRoadshow.1.0.0.17.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8068E2A1-D948-4093-AC66-6E7DCB76D04A}\1.0\HELPDIR" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65957D6F-5428-4B0E-8705-D613ACF347D4}" valueName="" value="IPlayFirstMahjongRoaControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65957D6F-5428-4B0E-8705-D613ACF347D4}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65957D6F-5428-4B0E-8705-D613ACF347D4}\TYPELIB" valueName="" value="{8068E2A1-D948-4093-AC66-6E7DCB76D04A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65957D6F-5428-4B0E-8705-D613ACF347D4}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>