<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\astroavenger2loader\astroavenger2loader.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{63C1D14E-8DF7-4855-BDBE-E03FC8731408}\1.0" valueName="" value="AstroAvenger2Loader ActiveX Control module" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{63C1D14E-8DF7-4855-BDBE-E03FC8731408}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{63C1D14E-8DF7-4855-BDBE-E03FC8731408}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{63C1D14E-8DF7-4855-BDBE-E03FC8731408}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstroAvenger2Loader\AstroAvenger2Loader.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{63C1D14E-8DF7-4855-BDBE-E03FC8731408}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstroAvenger2Loader" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{88796C54-728E-434D-A145-475A368C8090}" valueName="" value="_DAstroAvengerLoader" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{88796C54-728E-434D-A145-475A368C8090}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{88796C54-728E-434D-A145-475A368C8090}\TYPELIB" valueName="" value="{63C1D14E-8DF7-4855-BDBE-E03FC8731408}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{88796C54-728E-434D-A145-475A368C8090}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A8A5085F-E960-40CB-B116-56006A3805E9}" valueName="" value="_DAstroAvengerLoaderEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A8A5085F-E960-40CB-B116-56006A3805E9}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A8A5085F-E960-40CB-B116-56006A3805E9}\TYPELIB" valueName="" value="{63C1D14E-8DF7-4855-BDBE-E03FC8731408}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{A8A5085F-E960-40CB-B116-56006A3805E9}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{154E8A9F-43B2-4889-9A69-70881581E963}" valueName="" value="AstroAvengerLoader Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{154E8A9F-43B2-4889-9A69-70881581E963}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstroAvenger2Loader\AstroAvenger2Loader.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}" valueName="" value="AstroAvengerLoader Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ASTROAVENGERLOADER.ASTROAVENGERLOADERCTRL.1" valueName="" value="AstroAvengerLoader Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ASTROAVENGERLOADER.ASTROAVENGERLOADERCTRL.1\CLSID" valueName="" value="{D441AB53-A39C-42AE-AB79-3C05B7298F34}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\PROGID" valueName="" value="ASTROAVENGERLOADER.AstroAvengerLoaderCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstroAvenger2Loader\AstroAvenger2Loader.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstroAvenger2Loader\AstroAvenger2Loader.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\TYPELIB" valueName="" value="{63C1D14E-8DF7-4855-BDBE-E03FC8731408}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D441AB53-A39C-42AE-AB79-3C05B7298F34}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>