<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\emeraldcityconfidental\emeraldcityconfidentialweb.1.0.0.9.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{0056E3AB-6419-453B-AB72-884792173F5A}" value="activex" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" value="{0056E3AB-6419-453B-AB72-884792173F5A}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTEMERALDCITCONTROL.1" value="CPlayFirstEmeraldCitControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTEMERALDCITCONTROL.1\CLSID" value="{18F616CD-4B28-4C47-815A-560AC6A33C8D}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTEMERALDCITCONTROL" value="CPlayFirstEmeraldCitControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTEMERALDCITCONTROL\CLSID" value="{18F616CD-4B28-4C47-815A-560AC6A33C8D}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTEMERALDCITCONTROL\CURVER" value="activex.PlayFirstEmeraldCitControl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}" value="CPlayFirstEmeraldCitControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\PROGID" value="activex.PlayFirstEmeraldCitControl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\VERSIONINDEPENDENTPROGID" value="activex.PlayFirstEmeraldCitControl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\EmeraldCityConfidental\EmeraldCityConfidentialWeb.1.0.0.9.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\INPROCSERVER32" value="apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\EmeraldCityConfidental\EmeraldCityConfidentialWeb.1.0.0.9.dll, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}" value="{0056E3AB-6419-453B-AB72-884792173F5A}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\TYPELIB" value="{0056E3AB-6419-453B-AB72-884792173F5A}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{18F616CD-4B28-4C47-815A-560AC6A33C8D}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0056E3AB-6419-453B-AB72-884792173F5A}\1.0" value="activex 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0056E3AB-6419-453B-AB72-884792173F5A}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0056E3AB-6419-453B-AB72-884792173F5A}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0056E3AB-6419-453B-AB72-884792173F5A}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\EmeraldCityConfidental\EmeraldCityConfidentialWeb.1.0.0.9.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{0056E3AB-6419-453B-AB72-884792173F5A}\1.0\HELPDIR" value="" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B86BFE52-5944-482C-AB9F-5053CF60C9F3}" value="IPlayFirstEmeraldCitControl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B86BFE52-5944-482C-AB9F-5053CF60C9F3}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B86BFE52-5944-482C-AB9F-5053CF60C9F3}\TYPELIB" value="{0056E3AB-6419-453B-AB72-884792173F5A}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B86BFE52-5944-482C-AB9F-5053CF60C9F3}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>