<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\abcisland\abcisland.dll">
        <modifications>
          <environmentVariables>
            <environmentVariable name="__COMPAT_LAYER" value="Win2000Sp2" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLBOXWORDCTL.ATLBOXWORDCTLATTRIB.1" valueName="" value="AtlBoxWordCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLBOXWORDCTL.ATLBOXWORDCTLATTRIB.1\CLSID" valueName="" value="{8DB0B6FB-914F-41de-B89E-35D80F378640}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLBOXWORDCTL.ATLBOXWORDCTLATTRIB" valueName="" value="AtlBoxWordCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLBOXWORDCTL.ATLBOXWORDCTLATTRIB\CLSID" valueName="" value="{8DB0B6FB-914F-41de-B89E-35D80F378640}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ATLBOXWORDCTL.ATLBOXWORDCTLATTRIB\CURVER" valueName="" value="AtlBoxWordCtl.AtlBoxWordCtlAttrib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}" valueName="" value="AtlBoxWordCtlAttrib Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\PROGID" valueName="" value="AtlBoxWordCtl.AtlBoxWordCtlAttrib.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\VERSIONINDEPENDENTPROGID" valueName="" value="AtlBoxWordCtl.AtlBoxWordCtlAttrib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\abcisland\abcisland.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\INPROCSERVER32" valueName="THREADINGMODEL" value="" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\abcisland\abcisland.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\TYPELIB" valueName="" value="{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8DB0B6FB-914F-41DE-B89E-35D80F378640}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}\1.0" valueName="" value="ATLBOXWORD" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\abcisland\abcisland.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\abcisland\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5D6BBD4B-8CA7-4298-9386-D1860C027F75}" valueName="" value="IBoxWordCtrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5D6BBD4B-8CA7-4298-9386-D1860C027F75}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5D6BBD4B-8CA7-4298-9386-D1860C027F75}\TYPELIB" valueName="" value="{8CF3A9BC-EAD2-444D-BCCD-93361CA5B277}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5D6BBD4B-8CA7-4298-9386-D1860C027F75}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>