<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\sandscript\sandscript.1.0.0.21.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTSANDSCRIPTCONTROL.1" valueName="" value="CPlayFirstSandScriptControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTSANDSCRIPTCONTROL.1\CLSID" valueName="" value="{D410AFBD-4E26-4d5f-840F-0412D6F6BB8D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTSANDSCRIPTCONTROL" valueName="" value="CPlayFirstSandScriptControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTSANDSCRIPTCONTROL\CLSID" valueName="" value="{D410AFBD-4E26-4d5f-840F-0412D6F6BB8D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTSANDSCRIPTCONTROL\CURVER" valueName="" value="activex.PlayFirstSandScriptControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}" valueName="" value="CPlayFirstSandScriptControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\PROGID" valueName="" value="activex.PlayFirstSandScriptControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstSandScriptControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\sandscript\SandScript.1.0.0.21.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\sandscript\SandScript.1.0.0.21.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}" valueName="APPID" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\TYPELIB" valueName="" value="{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{D410AFBD-4E26-4D5F-840F-0412D6F6BB8D}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\sandscript\SandScript.1.0.0.21.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\sandscript\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FDDC5A-2DD1-4E40-A003-1E5FF50DAD30}" valueName="" value="IPlayFirstSandScriptControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FDDC5A-2DD1-4E40-A003-1E5FF50DAD30}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FDDC5A-2DD1-4E40-A003-1E5FF50DAD30}\TYPELIB" valueName="" value="{D3B1CDDF-30E1-4DFD-A77A-23B7D40A12B6}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{56FDDC5A-2DD1-4E40-A003-1E5FF50DAD30}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>