<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\astoundlauncher\astoundlauncher.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{CDF6E489-962E-4F72-808E-F14E23266B8E}\1.0" valueName="" value="Astound Studios Game Launcher" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{CDF6E489-962E-4F72-808E-F14E23266B8E}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{CDF6E489-962E-4F72-808E-F14E23266B8E}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{CDF6E489-962E-4F72-808E-F14E23266B8E}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstoundLauncher\AstoundLauncher.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{CDF6E489-962E-4F72-808E-F14E23266B8E}\1.0\HELPDIR" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65F5FB72-6B87-42EE-9A5B-AF1CAC29A411}" valueName="" value="_DAstoundLauncher" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65F5FB72-6B87-42EE-9A5B-AF1CAC29A411}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65F5FB72-6B87-42EE-9A5B-AF1CAC29A411}\TYPELIB" valueName="" value="{CDF6E489-962E-4F72-808E-F14E23266B8E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{65F5FB72-6B87-42EE-9A5B-AF1CAC29A411}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7E0BD435-5C69-4FCB-9128-575FDBBCA36B}" valueName="" value="_DAstoundLauncherEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7E0BD435-5C69-4FCB-9128-575FDBBCA36B}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7E0BD435-5C69-4FCB-9128-575FDBBCA36B}\TYPELIB" valueName="" value="{CDF6E489-962E-4F72-808E-F14E23266B8E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7E0BD435-5C69-4FCB-9128-575FDBBCA36B}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8B516D4B-789B-45B4-A609-F731E135FAAF}" valueName="" value="AstoundLauncher Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{8B516D4B-789B-45B4-A609-F731E135FAAF}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstoundLauncher\AstoundLauncher.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}" valueName="" value="AstoundLauncher Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ASTOUNDLAUNCHER.ASTOUNDLAUNCHERCTRL.1" valueName="" value="AstoundLauncher Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ASTOUNDLAUNCHER.ASTOUNDLAUNCHERCTRL.1\CLSID" valueName="" value="{C86FF4B0-AA1D-46D4-8612-025FB86583C7}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\PROGID" valueName="" value="ASTOUNDLAUNCHER.AstoundLauncherCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstoundLauncher\AstoundLauncher.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\AstoundLauncher\AstoundLauncher.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\TYPELIB" valueName="" value="{CDF6E489-962E-4F72-808E-F14E23266B8E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_CURRENT_USER\SOFTWARE\CLASSES\COMPONENT CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\IMPLEMENTED CATEGORIES" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{C86FF4B0-AA1D-46D4-8612-025FB86583C7}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>