<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\gamehouseplayer\ghgamesplayer.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\GHGAMESPLAYER.GHGAMESPLAYERCTRLGH.1" valueName="" value="GameHouse Games Player" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\GHGAMESPLAYER.GHGAMESPLAYERCTRLGH.1\CLSID" valueName="" value="{74E4A24D-5224-4f05-8A41-99445E0FC22B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\GHGAMESPLAYER.GHGAMESPLAYERCTRLGH" valueName="" value="GameHouse Games Player" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\GHGAMESPLAYER.GHGAMESPLAYERCTRLGH\CLSID" valueName="" value="{74E4A24D-5224-4f05-8A41-99445E0FC22B}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\GHGAMESPLAYER.GHGAMESPLAYERCTRLGH\CURVER" valueName="" value="GHGamesPlayer.GHGamesPlayerCtrlGH.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}" valueName="" value="GameHouse Games Player" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\PROGID" valueName="" value="GHGamesPlayer.GHGamesPlayerCtrlGH.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\VERSIONINDEPENDENTPROGID" valueName="" value="GHGamesPlayer.GHGamesPlayerCtrlGH" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\gamehouseplayer\GHGamesPlayer.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\gamehouseplayer\GHGamesPlayer.dll, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\TYPELIB" valueName="" value="{69646C39-01BA-4aa4-A947-D9FC39D8A35F}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{74E4A24D-5224-4F05-8A41-99445E0FC22B}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{69646C39-01BA-4AA4-A947-D9FC39D8A35F}\1.0" valueName="" value="ZYLOMGAMESPLAYERLib" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{69646C39-01BA-4AA4-A947-D9FC39D8A35F}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{69646C39-01BA-4AA4-A947-D9FC39D8A35F}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{69646C39-01BA-4AA4-A947-D9FC39D8A35F}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\gamehouseplayer\GHGamesPlayer.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{69646C39-01BA-4AA4-A947-D9FC39D8A35F}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\gamehouseplayer\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B4100D79-B762-4B90-ACFA-5FC043C822A5}" valueName="" value="_IZylomGamesPlayerCtrlEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B4100D79-B762-4B90-ACFA-5FC043C822A5}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B4100D79-B762-4B90-ACFA-5FC043C822A5}\TYPELIB" valueName="" value="{69646C39-01BA-4AA4-A947-D9FC39D8A35F}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B4100D79-B762-4B90-ACFA-5FC043C822A5}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5BFCD9C9-B651-42CA-9A82-E09B9054734C}" valueName="" value="IZylomGamesPlayerCtrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5BFCD9C9-B651-42CA-9A82-E09B9054734C}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5BFCD9C9-B651-42CA-9A82-E09B9054734C}\TYPELIB" valueName="" value="{69646C39-01BA-4AA4-A947-D9FC39D8A35F}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{5BFCD9C9-B651-42CA-9A82-E09B9054734C}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>