<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\dreamweb\dream.1.0.0.9.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}" valueName="" value="activex" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="APPID" value="{EA5B3CC2-5A31-404f-BCEF-DF76540FC4E1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDREAMCONTROL.1" valueName="" value="CPlayFirstdreamControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDREAMCONTROL.1\CLSID" valueName="" value="{775879E2-7309-4619-BB02-AADE41F4B690}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDREAMCONTROL" valueName="" value="CPlayFirstdreamControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDREAMCONTROL\CLSID" valueName="" value="{775879E2-7309-4619-BB02-AADE41F4B690}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDREAMCONTROL\CURVER" valueName="" value="activex.PlayFirstdreamControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}" valueName="" value="CPlayFirstdreamControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\PROGID" valueName="" value="activex.PlayFirstdreamControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstdreamControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\dreamweb\dream.1.0.0.9.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\dreamweb\dream.1.0.0.9.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}" valueName="APPID" value="{EA5B3CC2-5A31-404f-BCEF-DF76540FC4E1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\TYPELIB" valueName="" value="{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{775879E2-7309-4619-BB02-AADE41F4B690}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\dreamweb\dream.1.0.0.9.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\dreamweb\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EE6B1B16-AEEE-4234-B557-8576BC04A999}" valueName="" value="IPlayFirstdreamControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EE6B1B16-AEEE-4234-B557-8576BC04A999}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EE6B1B16-AEEE-4234-B557-8576BC04A999}\TYPELIB" valueName="" value="{EA5B3CC2-5A31-404F-BCEF-DF76540FC4E1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{EE6B1B16-AEEE-4234-B557-8576BC04A999}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>