<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\mythicmarbles\mythicmarbles.1.0.0.2.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{2F24B683-762D-4F87-892B-4022D808ED73}" valueName="" value="activex" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="APPID" value="{2F24B683-762D-4f87-892B-4022D808ED73}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMYTHICMARBLESCONTROL.1" valueName="" value="CPlayFirstMythicMarblesControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMYTHICMARBLESCONTROL.1\CLSID" valueName="" value="{38A5F6F0-0B64-421b-A553-3D49A76ECDCD}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMYTHICMARBLESCONTROL" valueName="" value="CPlayFirstMythicMarblesControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMYTHICMARBLESCONTROL\CLSID" valueName="" value="{38A5F6F0-0B64-421b-A553-3D49A76ECDCD}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMYTHICMARBLESCONTROL\CURVER" valueName="" value="activex.PlayFirstMythicMarblesControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}" valueName="" value="CPlayFirstMythicMarblesControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\PROGID" valueName="" value="activex.PlayFirstMythicMarblesControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstMythicMarblesControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MythicMarbles\MythicMarbles.1.0.0.2.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MythicMarbles\MythicMarbles.1.0.0.2.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}" valueName="APPID" value="{2F24B683-762D-4f87-892B-4022D808ED73}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\TYPELIB" valueName="" value="{2F24B683-762D-4F87-892B-4022D808ED73}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{38A5F6F0-0B64-421B-A553-3D49A76ECDCD}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{2F24B683-762D-4F87-892B-4022D808ED73}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{2F24B683-762D-4F87-892B-4022D808ED73}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{2F24B683-762D-4F87-892B-4022D808ED73}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{2F24B683-762D-4F87-892B-4022D808ED73}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MythicMarbles\MythicMarbles.1.0.0.2.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{2F24B683-762D-4F87-892B-4022D808ED73}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MythicMarbles\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1D101C2A-F6B6-4AD8-9687-0592729F7532}" valueName="" value="IPlayFirstMythicMarblesControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1D101C2A-F6B6-4AD8-9687-0592729F7532}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1D101C2A-F6B6-4AD8-9687-0592729F7532}\TYPELIB" valueName="" value="{2F24B683-762D-4F87-892B-4022D808ED73}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{1D101C2A-F6B6-4AD8-9687-0592729F7532}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>