<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\mjolauncher\mjolauncher.dll">
        <modifications>
          <environmentVariables>
            <environmentVariable name="__COMPAT_LAYER" value="Win2000Sp2" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MJOLAUNCHER.MJLAUNCHERCTRL.1" valueName="" value="MJLauncherCtrl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MJOLAUNCHER.MJLAUNCHERCTRL.1\CLSID" valueName="" value="{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MJOLAUNCHER.MJLAUNCHERCTRL" valueName="" value="MJLauncherCtrl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MJOLAUNCHER.MJLAUNCHERCTRL\CLSID" valueName="" value="{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MJOLAUNCHER.MJLAUNCHERCTRL\CURVER" valueName="" value="Mjolauncher.MJLauncherCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}" valueName="" value="MJLauncherCtrl Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\PROGID" valueName="" value="Mjolauncher.MJLauncherCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\VERSIONINDEPENDENTPROGID" valueName="" value="Mjolauncher.MJLauncherCtrl" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\PROGRAMMABLE" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\mjolauncher\mjolauncher.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\mjolauncher\mjolauncher.dll, 101" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\TYPELIB" valueName="" value="{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{7E980B9B-8AE5-466A-B6D6-DA8CF814E78A}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}\1.0" valueName="" value="MJOLauncher 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\mjolauncher\mjolauncher.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\mjolauncher\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{95E05D4E-175B-4A08-81DB-92C5C51152C5}" valueName="" value="_IMJLauncherCtrlEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{95E05D4E-175B-4A08-81DB-92C5C51152C5}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{95E05D4E-175B-4A08-81DB-92C5C51152C5}\TYPELIB" valueName="" value="{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{95E05D4E-175B-4A08-81DB-92C5C51152C5}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7BE2361B-5F4C-4E07-A446-7AD2ACEA9D18}" valueName="" value="IMJLauncherCtrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7BE2361B-5F4C-4E07-A446-7AD2ACEA9D18}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7BE2361B-5F4C-4E07-A446-7AD2ACEA9D18}\TYPELIB" valueName="" value="{8B105E4D-ECAD-48BA-9B34-ED91C9AC9A3E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{7BE2361B-5F4C-4E07-A446-7AD2ACEA9D18}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>