<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\mysteryofsharkisland\msi.1.0.0.8.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{82530560-6E35-439E-ABC4-59F0A5E32B51}" valueName="" value="activex" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="APPID" value="{82530560-6E35-439e-ABC4-59F0A5E32B51}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMSICONTROL.1" valueName="" value="CPlayFirstmsiControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMSICONTROL.1\CLSID" valueName="" value="{226ACC34-3194-40e2-9AE8-834FCFE9E80D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMSICONTROL" valueName="" value="CPlayFirstmsiControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMSICONTROL\CLSID" valueName="" value="{226ACC34-3194-40e2-9AE8-834FCFE9E80D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTMSICONTROL\CURVER" valueName="" value="activex.PlayFirstmsiControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}" valueName="" value="CPlayFirstmsiControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\PROGID" valueName="" value="activex.PlayFirstmsiControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstmsiControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MysteryOfSharkIsland\msi.1.0.0.8.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MysteryOfSharkIsland\msi.1.0.0.8.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}" valueName="APPID" value="{82530560-6E35-439e-ABC4-59F0A5E32B51}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\TYPELIB" valueName="" value="{82530560-6E35-439E-ABC4-59F0A5E32B51}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{226ACC34-3194-40E2-9AE8-834FCFE9E80D}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{82530560-6E35-439E-ABC4-59F0A5E32B51}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{82530560-6E35-439E-ABC4-59F0A5E32B51}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{82530560-6E35-439E-ABC4-59F0A5E32B51}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{82530560-6E35-439E-ABC4-59F0A5E32B51}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MysteryOfSharkIsland\msi.1.0.0.8.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{82530560-6E35-439E-ABC4-59F0A5E32B51}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\MysteryOfSharkIsland\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBDD51AF-CD1C-466D-8FE5-8AE0EE615B03}" valueName="" value="IPlayFirstmsiControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBDD51AF-CD1C-466D-8FE5-8AE0EE615B03}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBDD51AF-CD1C-466D-8FE5-8AE0EE615B03}\TYPELIB" valueName="" value="{82530560-6E35-439E-ABC4-59F0A5E32B51}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{FBDD51AF-CD1C-466D-8FE5-8AE0EE615B03}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>