<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\orbitallauncher-2.0.15\orbitallauncher.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E03EEB49-B0CB-46A3-A84B-BA758243A7B0}" valueName="" value="Orbital Launcher" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E03EEB49-B0CB-46A3-A84B-BA758243A7B0}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\OrbitalLauncher-2.0.15\OrbitalLauncher.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{E03EEB49-B0CB-46A3-A84B-BA758243A7B0}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{651D63A0-699F-4859-93E5-08CD1F48CABD}\1.0" valueName="" value="Mind Control Orbital Launcher 1.0 Type Library" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{651D63A0-699F-4859-93E5-08CD1F48CABD}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{651D63A0-699F-4859-93E5-08CD1F48CABD}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\OrbitalLauncher-2.0.15\OrbitalLauncher.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{651D63A0-699F-4859-93E5-08CD1F48CABD}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>