<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\diaperdash\diaperdashweb.1.0.0.4.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}" valueName="" value="activex" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="APPID" value="{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDIAPERDASHCONTROL.1" valueName="" value="CPlayFirstDiaperDashControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDIAPERDASHCONTROL.1\CLSID" valueName="" value="{2D168880-539F-4967-BA11-F7C2862B9E1D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDIAPERDASHCONTROL" valueName="" value="CPlayFirstDiaperDashControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDIAPERDASHCONTROL\CLSID" valueName="" value="{2D168880-539F-4967-BA11-F7C2862B9E1D}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTDIAPERDASHCONTROL\CURVER" valueName="" value="activex.PlayFirstDiaperDashControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}" valueName="" value="CPlayFirstDiaperDashControl Object" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\PROGID" valueName="" value="activex.PlayFirstDiaperDashControl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\VERSIONINDEPENDENTPROGID" valueName="" value="activex.PlayFirstDiaperDashControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\diaperdash\DiaperDashWeb.1.0.0.4.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\INPROCSERVER32" valueName="THREADINGMODEL" value="apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\diaperdash\DiaperDashWeb.1.0.0.4.dll, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}" valueName="APPID" value="{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\TYPELIB" valueName="" value="{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{2D168880-539F-4967-BA11-F7C2862B9E1D}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}\1.0" valueName="" value="activex 1.0 Type Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\diaperdash\DiaperDashWeb.1.0.0.4.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}\1.0\HELPDIR" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F84F7BAA-E625-4A8A-B5A8-8A4972247495}" valueName="" value="IPlayFirstDiaperDashControl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F84F7BAA-E625-4A8A-B5A8-8A4972247495}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F84F7BAA-E625-4A8A-B5A8-8A4972247495}\TYPELIB" valueName="" value="{00B83F1B-C13D-48C6-A9E8-DC20FB9770F1}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F84F7BAA-E625-4A8A-B5A8-8A4972247495}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>