<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\fashiondashweb.1.0.0.21\fashiondashweb.1.0.0.21.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}" value="activex" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\APPID\ACTIVEX.DLL" value="{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTFASHIONDASCONTROL.1" value="CPlayFirstFashionDasControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTFASHIONDASCONTROL.1\CLSID" value="{049A470D-F818-4E34-B14D-E4E237DADCF8}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTFASHIONDASCONTROL" value="CPlayFirstFashionDasControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTFASHIONDASCONTROL\CLSID" value="{049A470D-F818-4E34-B14D-E4E237DADCF8}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\ACTIVEX.PLAYFIRSTFASHIONDASCONTROL\CURVER" value="activex.PlayFirstFashionDasControl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}" value="CPlayFirstFashionDasControl Object" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\PROGID" value="activex.PlayFirstFashionDasControl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\VERSIONINDEPENDENTPROGID" value="activex.PlayFirstFashionDasControl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\INPROCSERVER32" value="%FP_STARTUP_PATH%\ActiveX\FashionDashWeb.1.0.0.21\FashionDashWeb.1.0.0.21.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\INPROCSERVER32" value="apartment" valueKind="String" valueName="THREADINGMODEL" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\CONTROL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\TOOLBOXBITMAP32" value="%FP_STARTUP_PATH%\ActiveX\FashionDashWeb.1.0.0.21\FashionDashWeb.1.0.0.21.dll, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}" value="{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}" valueKind="String" valueName="APPID" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\TYPELIB" value="{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{049A470D-F818-4E34-B14D-E4E237DADCF8}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}\1.0" value="activex 1.0 Type Library" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}\1.0\FLAGS" value="0" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\FashionDashWeb.1.0.0.21\FashionDashWeb.1.0.0.21.dll" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}\1.0\HELPDIR" value="" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{15008AD8-7218-461E-BB99-2A341F664F40}" value="IPlayFirstFashionDasControl" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{15008AD8-7218-461E-BB99-2A341F664F40}\PROXYSTUBCLSID32" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{15008AD8-7218-461E-BB99-2A341F664F40}\TYPELIB" value="{882F113A-CA74-4D9E-B3C9-BA7DDDD48A05}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{15008AD8-7218-461E-BB99-2A341F664F40}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>