<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\hlglauncher\hlglauncherx.dll">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9972AF1F-E499-4EC3-84B3-72220846B926}\1.0" valueName="" value="LHGLauncherX Library" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9972AF1F-E499-4EC3-84B3-72220846B926}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9972AF1F-E499-4EC3-84B3-72220846B926}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9972AF1F-E499-4EC3-84B3-72220846B926}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\HLGLauncher\HLGLauncherX.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9972AF1F-E499-4EC3-84B3-72220846B926}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\ActiveX\HLGLauncher\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B45AB898-0147-4A9F-B7CA-38D5A8D26395}" valueName="" value="ILHGLauncherXForm" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B45AB898-0147-4A9F-B7CA-38D5A8D26395}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B45AB898-0147-4A9F-B7CA-38D5A8D26395}\TYPELIB" valueName="" value="{9972AF1F-E499-4EC3-84B3-72220846B926}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{B45AB898-0147-4A9F-B7CA-38D5A8D26395}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C4F85653-8392-46E1-B531-DD330A31D6CE}" valueName="" value="ILHGLauncherXFormEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C4F85653-8392-46E1-B531-DD330A31D6CE}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C4F85653-8392-46E1-B531-DD330A31D6CE}\TYPELIB" valueName="" value="{9972AF1F-E499-4EC3-84B3-72220846B926}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C4F85653-8392-46E1-B531-DD330A31D6CE}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}" valueName="" value="LHGLauncherXForm Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\HLGLauncher\HLGLauncherX.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\LHGLAUNCHERX.LHGLAUNCHERXFORM" valueName="" value="LHGLauncherXForm Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\LHGLAUNCHERX.LHGLAUNCHERXFORM\CLSID" valueName="" value="{B0FB831D-17F6-4CBD-9B5D-3305881D362E}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\PROGID" valueName="" value="LHGLauncherX.LHGLauncherXForm" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\TYPELIB" valueName="" value="{9972AF1F-E499-4EC3-84B3-72220846B926}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\MISCSTATUS\1" valueName="" value="205201" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\ActiveX\HLGLauncher\HLGLauncherX.dll,1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\VERB" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{B0FB831D-17F6-4CBD-9B5D-3305881D362E}\VERB\0" valueName="" value="Properties,0,2" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>