<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="activex\oxgame/oxgame.ocx">
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}\1.0" value="OXGame ActiveX Control module" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}\1.0\FLAGS" value="2" valueKind="String" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}\1.0\0" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}\1.0\0\WIN32" value="%FP_STARTUP_PATH%\ActiveX\OXGame\OXGame.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}\1.0\HELPDIR" value="%FP_STARTUP_PATH%\ActiveX\OXGame" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C1190AE8-CD41-4D41-A5AB-BF60E7BE3FCA}" value="_DOXGame" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C1190AE8-CD41-4D41-A5AB-BF60E7BE3FCA}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C1190AE8-CD41-4D41-A5AB-BF60E7BE3FCA}\TYPELIB" value="{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{C1190AE8-CD41-4D41-A5AB-BF60E7BE3FCA}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{17AC6AB7-9533-4D2F-8F92-EA1BCEB29FB0}" value="_DOXGameEvents" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{17AC6AB7-9533-4D2F-8F92-EA1BCEB29FB0}\PROXYSTUBCLSID32" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{17AC6AB7-9533-4D2F-8F92-EA1BCEB29FB0}\TYPELIB" value="{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{17AC6AB7-9533-4D2F-8F92-EA1BCEB29FB0}\TYPELIB" value="1.0" valueKind="String" valueName="VERSION" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4611C58C-AA45-40F4-B230-3CA6DD614F49}" value="OXGame Property Page" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4611C58C-AA45-40F4-B230-3CA6DD614F49}\INPROCSERVER32" value="C:\Users\tntdo\Desktop\FLASHP~1.2\FPSOFT~1\ActiveX\OXGame\OXGame.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}" value="OX, kontrolka gry w kółko i krzyżyk" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OXGAME.OXGAMECTRL.1" value="OX, kontrolka gry w kółko i krzyżyk" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\OXGAME.OXGAMECTRL.1\CLSID" value="{0D276E33-465D-450D-B682-B296AD7DD9A7}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\PROGID" value="OXGAME.OXGameCtrl.1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\INPROCSERVER32" value="C:\Users\tntdo\Desktop\FLASHP~1.2\FPSOFT~1\ActiveX\OXGame\OXGame.ocx" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\TOOLBOXBITMAP32" value="C:\Users\tntdo\Desktop\FLASHP~1.2\FPSOFT~1\ActiveX\OXGame\OXGame.ocx, 1" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\MISCSTATUS" value="0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\MISCSTATUS\1" value="131473" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\CONTROL" value="" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\TYPELIB" value="{278B9FAC-2CD6-438C-BE9B-3AFEB3B18B80}" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\VERSION" value="1.0" valueKind="String" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{0D276E33-465D-450D-B682-B296AD7DD9A7}\INPROCSERVER32" value="Apartment" valueKind="String" valueName="THREADINGMODEL" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>