<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="alambikinbrowser">
        <mode name="SOFTWARE" commandLine="fpnavigator-portable\FPNavigator.exe &quot;%FP_URL%&quot;" />
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Alambik\Alambik Script" valueName="Version" value="9.99" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Alambik\Alambik Viewer" valueName="InstallPath" value="%FP_STARTUP_PATH%\BrowserPlugins\Alambik" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Alambik\Alambik Viewer" valueName="Version" value="9.99" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Alambik\Alambik Viewer" valueName="Path26" value="0" valueKind="Dword"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Alambik\Alambik Viewer" valueName="ViewerSerial" value="FFFFEEEE-D1D1CCCC-BBBBAAAA-99998888" valueKind="String"/>
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\Alambik\Alambik Viewer" valueName="ValidateKey" value="0" valueKind="String"/>
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>
