<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <modifications>
      <modification name="atmo216">
        <registryBackups binaryType="SCS_32BIT_BINARY">
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTL" valueName="" value="MetaStreamCtl Class" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTL.1" valueName="" value="MetaStreamCtl Class" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTL.1\CLSID" valueName="" value="{03F998B2-0E00-11D3-A498-00104B6EB52E}" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTL.1\INSERTABLE" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTL\CLSID" valueName="" value="{03F998B2-0E00-11D3-A498-00104B6EB52E}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTL\CURVER" valueName="" value="AXMETASTREAM.METASTREAMCTL.1" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTLSECONDARY" valueName="" value="MetaStreamCtl Class" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTLSECONDARY.1" valueName="" value="MetaStreamCtl Class" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTLSECONDARY.1\CLSID" valueName="" value="{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTLSECONDARY.1\INSERTABLE" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTLSECONDARY\CLSID" valueName="" value="{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\AXMETASTREAM.METASTREAMCTLSECONDARY\CURVER" valueName="" value="AXMETASTREAM.METASTREAMCTLSECONDARY.1" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0" valueName="" value="AxMetaStream 1.0 Type Library" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\Atmo216\AxMetaStream.dll" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{9DBB28C1-1925-11D3-A498-00104B6EB52E}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\Atmo216\" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}" valueName="" value="MetaStreamCtl Class" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\CONTROL" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\Atmo216\AxMetaStream.dll" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\INSERTABLE" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\MISCSTATUS" valueName="" value="0" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\PROGID" valueName="" value="AXMETASTREAM.METASTREAMCTL.1" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\PROGRAMMABLE" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\Atmo216\AxMetaStream.dll, 101" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\TYPELIB" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\VERSION" valueName="" value="1.0" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{03F998B2-0E00-11D3-A498-00104B6EB52E}\VERSIONINDEPENDENTPROGID" valueName="" value="AXMETASTREAM.METASTREAMCTL" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" valueName="" value="MetaStreamCtl Class" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\CONTROL" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\IMPLEMENTED CATEGORIES\{7DD95801-9882-11CF-9FA9-00AA006C42C4}" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\IMPLEMENTED CATEGORIES\{7DD95802-9882-11CF-9FA9-00AA006C42C4}" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\Atmo216\AxMetaStream.dll" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\INSERTABLE" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\MISCSTATUS" valueName="" value="0" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\PROGID" valueName="" value="AXMETASTREAM.METASTREAMCTLSECONDARY.1" valueKind="String" />
          <registryBackup type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\PROGRAMMABLE" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\Atmo216\AxMetaStream.dll, 101" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\TYPELIB" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\VERSION" valueName="" value="1.0" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{1B00725B-C455-4DE6-BFB6-AD540AD427CD}\VERSIONINDEPENDENTPROGID" valueName="" value="AXMETASTREAM.METASTREAMCTLSECONDARY" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}" valueName="" value="IMetaStreamCtl" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\PROXYSTUBCLSID" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\PROXYSTUBCLSID32" valueName="" value="{00020424-0000-0000-C000-000000000046}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\TYPELIB" valueName="VERSION" value="1" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CD-1925-11D3-A498-00104B6EB52E}\TYPELIB" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}" valueName="" value="_IMetaStreamCtlEvents" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\TYPELIB" valueName="" value="{9DBB28C1-1925-11D3-A498-00104B6EB52E}" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\Interface\{9DBB28CE-1925-11D3-A498-00104B6EB52E}\TYPELIB" valueName="VERSION" value="1" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\METASTREAM\METASTREAM3" valueName="{03F998B2-0E00-11D3-A498-00104B6EB52E}" value="%FP_STARTUP_PATH%\Atmo216\" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\METASTREAM\METASTREAM3" valueName="COMPONENT PATH" value="%FP_STARTUP_PATH%\Atmo216\" valueKind="String" />
          <registryBackup type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\METASTREAM\METASTREAM3" valueName="{1B00725B-C455-4DE6-BFB6-AD540AD427CD}" value="%FP_STARTUP_PATH%\Atmo216\" valueKind="String" />
        </registryBackups>
      </modification>
    </modifications>
  </flashpointSecurePlayer>
</configuration>