<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <flashpointSecurePlayer>
    <templates>
      <template name="bitmagic">
        <mode name="SOFTWARE" commandLine="BitPlayer\Player.exe &quot;%FP_HTDOCS_FILE%&quot;" />
        <modifications>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1" valueName="MAINDIR" value="%FP_STARTUP_PATH%\BitPlayer" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1" valueName="NEWEDITION" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1" valueName="UPDATE" value="1" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1" valueName="UPDATEPOSTPONED" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SCREENSAVER" valueName="BITSAVERSOUNDENABLED" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SCREENSAVER" valueName="SCREENSAVERBMP" value="%FP_STARTUP_PATH%\BitPlayer\Skins\Screensaver.jpg" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="SOUNDSCHEMENAME" value="Default" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="SKINNAME" value="BitPlayer Small 1.2" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="CONNECTIONTYPE" value="1" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="PROXYENABLED" value="1" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="PROXYHOST" value="127.0.0.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="PROXYPORT" value="22600" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="SYSTEMTRAYENABLED" value="1" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="STATUSWINDOWENABLED" value="1" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="SCREENSAVERENABLED" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="PLAYERENABLED" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="PARENTALLOCKENABLED" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="DISPLAYQUALITY" value="1" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="SKINFILE" value="%FP_STARTUP_PATH%\BitPlayer\Skins\Default.bmm" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="SOUNDSCHEMEFILE" value="%FP_STARTUP_PATH%\BitPlayer\Sounds\Default.bss" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="PARTNERID" value="0" valueKind="Dword" />
            <registryState type="VALUE" keyName="HKEY_CURRENT_USER\SOFTWARE\BITMAGIC\1\SYSTEMSETTINGS" valueName="INETPRECONFIG" value="0" valueKind="Dword" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>