<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=1.1.1.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="blaxxun44">
        <mode name="WEB_BROWSER" />
        <modifications runAsAdministrator="true">
          <environmentVariables>
            <environmentVariable name="PATH" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\;%PATH%" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\contact" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\contact" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\contact" valueName="Path" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0" valueName="" value="blaxxunCC3D Control module" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{4B6E3010-6E45-11D0-9309-0020AFE05CC8}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}" valueName="" value="IblaxxunCC3D" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\TYPELIB" valueName="" value="{4B6E3010-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3011-6E45-11D0-9309-0020AFE05CC8}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}" valueName="" value="IblaxxunCC3DEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\TYPELIB" valueName="" value="{4B6E3010-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{4B6E3012-6E45-11D0-9309-0020AFE05CC8}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0" valueName="" value="blaxxunVRML 1.0 Type Library, 4.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0\FLAGS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxunVRML.tlb" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{BAC50391-75D9-11D0-9315-0020AFE05CC8}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3014-6E45-11D0-9309-0020AFE05CC8}" valueName="" value="blaxxun CC3D Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3014-6E45-11D0-9309-0020AFE05CC8}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1" valueName="" value="blaxxun CC3D" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\CLSID" valueName="" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}" valueName="" value="blaxxun CC3D" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\PROGID" valueName="" value="blaxxunCC3D.blaxxunCC3D.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxuncc3d.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\MISCSTATUS\1" valueName="" value="143761" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\TYPELIB" valueName="" value="{4B6E3010-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\INSERTABLE" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\INSERTABLE" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\ENABLEFULLPAGE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{4B6E3013-6E45-11D0-9309-0020AFE05CC8}\ENABLEFULLPAGE\.WRL" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-BLAXXUNCC3D" valueName="CLSID" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-BLAXXUNCC3D" valueName="EXTENSION" value=".wrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\MODEL/VRML" valueName="CLSID" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\MODEL/VRML" valueName="EXTENSION" value=".wrl" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-CCPRO" valueName="CLSID" value="{F20CCB6D-EE55-11D0-81D6-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-CCPRO" valueName="EXTENSION" value=".bxx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-CC3D" valueName="CLSID" value="{26D4D506-4652-11D1-9567-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\MIME\DATABASE\CONTENT TYPE\APPLICATION/X-CC3D" valueName="EXTENSION" value=".bx3" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\SHELL" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\SHELL\OPEN" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\SHELL\OPEN\COMMAND" valueName="" value="&quot;C:\Program Files\Internet Explorer\IEXPLORE.EXE&quot; &quot;%1&quot;" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D.1\DEFAULTICON" valueName="" value="C:\Program Files\Internet Explorer\IEXPLORE.EXE,1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D" valueName="" value="blaxxun CC3D" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D\CLSID" valueName="" value="{4B6E3013-6E45-11D0-9309-0020AFE05CC8}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUNCC3D.BLAXXUNCC3D\CURVER" valueName="" value="blaxxunCC3D.blaxxunCC3D.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F20CCB81-EE55-11D0-81D6-444553540000}\1.0" valueName="" value="Passport ActiveX Control module" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F20CCB81-EE55-11D0-81D6-444553540000}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F20CCB81-EE55-11D0-81D6-444553540000}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxunccpro.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{F20CCB81-EE55-11D0-81D6-444553540000}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB82-EE55-11D0-81D6-444553540000}" valueName="" value="_DPassport" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB82-EE55-11D0-81D6-444553540000}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB82-EE55-11D0-81D6-444553540000}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB82-EE55-11D0-81D6-444553540000}\TYPELIB" valueName="" value="{F20CCB81-EE55-11D0-81D6-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB82-EE55-11D0-81D6-444553540000}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB83-EE55-11D0-81D6-444553540000}" valueName="" value="_DPassportEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB83-EE55-11D0-81D6-444553540000}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB83-EE55-11D0-81D6-444553540000}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB83-EE55-11D0-81D6-444553540000}\TYPELIB" valueName="" value="{F20CCB81-EE55-11D0-81D6-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{F20CCB83-EE55-11D0-81D6-444553540000}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB84-EE55-11D0-81D6-444553540000}" valueName="" value="blaxxun Contact Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB84-EE55-11D0-81D6-444553540000}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxunccpro.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PASSPORT.PASSPORTCTRL.1" valueName="" value="blaxxun Contact Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PASSPORT.PASSPORTCTRL.1\CLSID" valueName="" value="{F20CCB6D-EE55-11D0-81D6-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}" valueName="" value="blaxxun Contact Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\PROGID" valueName="" value="PASSPORT.PassportCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxunccpro.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxunccpro.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\TYPELIB" valueName="" value="{F20CCB81-EE55-11D0-81D6-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\PASSPORT.PASSPORTCTRL.1\INSERTABLE" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\INSERTABLE" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\ENABLEFULLPAGE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{F20CCB6D-EE55-11D0-81D6-444553540000}\ENABLEFULLPAGE\.BXX" valueName="" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{26D4D503-4652-11D1-9567-444553540000}\1.0" valueName="" value="blaxxun3Dpro ActiveX Control module" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{26D4D503-4652-11D1-9567-444553540000}\1.0\FLAGS" valueName="" value="2" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{26D4D503-4652-11D1-9567-444553540000}\1.0\0\WIN32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxun3Dpro.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\TYPELIB\{26D4D503-4652-11D1-9567-444553540000}\1.0\HELPDIR" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D504-4652-11D1-9567-444553540000}" valueName="" value="_DBlaxxun3Dpro" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D504-4652-11D1-9567-444553540000}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D504-4652-11D1-9567-444553540000}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D504-4652-11D1-9567-444553540000}\TYPELIB" valueName="" value="{26D4D503-4652-11D1-9567-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D504-4652-11D1-9567-444553540000}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D505-4652-11D1-9567-444553540000}" valueName="" value="_DBlaxxun3DproEvents" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D505-4652-11D1-9567-444553540000}\PROXYSTUBCLSID" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D505-4652-11D1-9567-444553540000}\PROXYSTUBCLSID32" valueName="" value="{00020420-0000-0000-C000-000000000046}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D505-4652-11D1-9567-444553540000}\TYPELIB" valueName="" value="{26D4D503-4652-11D1-9567-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\INTERFACE\{26D4D505-4652-11D1-9567-444553540000}\TYPELIB" valueName="VERSION" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D507-4652-11D1-9567-444553540000}" valueName="" value="blaxxun3Dpro Property Page" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D507-4652-11D1-9567-444553540000}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxun3Dpro.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUN3DPRO.BLAXXUN3DPROCTRL.1" valueName="" value="blaxxun3Dpro Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUN3DPRO.BLAXXUN3DPROCTRL.1\CLSID" valueName="" value="{26D4D506-4652-11D1-9567-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}" valueName="" value="blaxxun3Dpro Control" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\PROGID" valueName="" value="BLAXXUN3DPRO.Blaxxun3DproCtrl.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\INPROCSERVER32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxun3Dpro.ocx" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\TOOLBOXBITMAP32" valueName="" value="%FP_STARTUP_PATH%\VRML\Blaxxun44\blaxxun3Dpro.ocx, 1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\MISCSTATUS" valueName="" value="0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\MISCSTATUS\1" valueName="" value="131473" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\CONTROL" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\TYPELIB" valueName="" value="{26D4D503-4652-11D1-9567-444553540000}" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\VERSION" valueName="" value="1.0" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\BLAXXUN3DPRO.BLAXXUN3DPROCTRL.1\INSERTABLE" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\INSERTABLE" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\INPROCSERVER32" valueName="THREADINGMODEL" value="Apartment" valueKind="String" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\ENABLEFULLPAGE" valueName="" />
            <registryState type="KEY" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{26D4D506-4652-11D1-9567-444553540000}\ENABLEFULLPAGE\.BX3" valueName="" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>