<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="bursterblenderplayer">
        <mode name="SOFTWARE" commandLine="Burster\blender-2.49b-windows\blenderplayer.exe &quot;%FP_URL%&quot;" />
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>