<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="vrweb">
        <mode name="SOFTWARE" commandLine="VRML\VRweb\vrw_dll.exe &quot;%FP_HTDOCS_FILE%&quot;" workingDirectory="%FP_HTDOCS_FILE_DIR%" />
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>