<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="flashpointSecurePlayer" type="FlashpointSecurePlayer.Shared+FlashpointSecurePlayerSection, FlashpointSecurePlayer, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <flashpointSecurePlayer>
    <templates>
      <template name="xaraplugin">
        <mode name="SOFTWARE" commandLine="fpnavigator-portable\FPNavigator.exe &quot;%FP_URL%&quot;" />
        <modifications>
          <environmentVariables>
            <environmentVariable name="PATH" value="%FP_STARTUP_PATH%\BrowserPlugins\XaraPlugin\System32;%PATH%" />
          </environmentVariables>
          <registryStates binaryType="SCS_32BIT_BINARY">
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{27260715-95FF-11D0-89BD-0020AFE14B0F}" valueName="" value="XaraFontManager Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{27260715-95FF-11D0-89BD-0020AFE14B0F}\InprocServer32" valueName="" value="%FP_STARTUP_PATH%\BrowserPlugins\XaraPlugin\System32\XFontMan.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{27260715-95FF-11D0-89BD-0020AFE14B0F}\InprocServer32" valueName="ThreadingModel" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{27260715-95FF-11D0-89BD-0020AFE14B0F}\ProgID" valueName="" value="XFontMan.XaraFontManager.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{27260715-95FF-11D0-89BD-0020AFE14B0F}\VersionIndependentProgID" valueName="" value="XFontMan.XaraFontManager" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}" valueName="" value="XaraDocument Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}\Implemented Categories\" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}\Implemented Categories\{8832AAA3-69CB-11D2-9F9F-00A02472A25C}" valueName="" value="" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}\InprocServer32" valueName="" value="%FP_STARTUP_PATH%\BrowserPlugins\XaraPlugin\System32\XaraDoc.dll" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}\InprocServer32" valueName="ThreadingModel" value="Apartment" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}\ProgID" valueName="" value="XaraRender.XaraDocument.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\CLSID\{3F753426-49E1-11D0-895D-0020AFE14B0F}\VersionIndependentProgID" valueName="" value="XaraRender.XaraDocument" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\XaraRender.XaraDocument" valueName="" value="XaraDocument Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\XaraRender.XaraDocument\CurVer" valueName="" value="XaraRender.XaraDocument.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\XaraRender.XaraDocument.1" valueName="" value="XaraDocument Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\XFontMan.XaraFontManager" valueName="" value="XaraFontManager Class" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\XFontMan.XaraFontManager\CurVer" valueName="" value="XFontMan.XaraFontManager.1" valueKind="String" />
            <registryState type="VALUE" keyName="HKEY_LOCAL_MACHINE\SOFTWARE\CLASSES\XFontMan.XaraFontManager.1" valueName="" value="XaraFontManager Class" valueKind="String" />
          </registryStates>
        </modifications>
      </template>
    </templates>
  </flashpointSecurePlayer>
</configuration>